Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

pages:
  stage: build
  script:
  - apt-get update -y
  - apt-get install doxygen texlive-binaries texlive-font-utils -y
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_DOCS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make Doxygen
  ...

build-unittests-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_UNITTESTS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

build-pyiganet-gcc:
  stage: build
  script:
  - apt-get update -y
  - apt-get install python3 -y
  - python3 setup.py develop
  artifacts:
    paths:
    - build
    - pyiganet.egg-info

build-webapps-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_WEBAPPS=ON -DIGANET_BUILD_EXAMPLES=OFF -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

test-unittests-gcc:
  stage: test
  needs:
  - build-unittests-gcc
  script:
  - cd build
  - make test

build-unittests-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

build-webapps-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

test-unittests-clang:
  stage: test
  needs:
  - build-unittests-clang
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - cd build
  - make test

Removed obsolete COPY from Dockerfile
  ops/Dockerfile.webapps-cpu
Due: none

Removed debug output
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Updated Dockerfile
  ops/Dockerfile.webapps-cpu
Due: none

Added detailed system information output to simplify debugging
  include/config.hpp.in
  include/core.hpp
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated server to handle REPARAMETERIZE requests
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Changed default real_t to double for WebApps
  webapps/CMakeLists.txt
Due: pages, build-webapps-gcc, build-webapps-clang

Server stores time stamps
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

add quadCircle geometry
  filedata/surfaces/2d/quadCircleNUB_ref.xml
Due: none

remove incorrect geometry
  filedata/surfaces/2d/quadCircleNUB.xml
Due: none

Formatting
  filedata/surfaces/2d/quadCircleNUB_ref.xml
Due: none

Fixed typo
  webapps/models/gismo/GismoPdeModel.hpp
Due: none

Added clone function to function space
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

det calc extracted into function
  include/utils/blocktensor.hpp
Due: none

Restore other changes
  README.md
Due: none

Fixed bug in SysInfo
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Formatting
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added init::linspace
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Set boundary coefficients from tensor
  include/boundary.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Revised function space so that boundary is a view on the coefficients
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated boundary unit tests
  unittests/unittest_boundary.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Fixed typos in documentation
  include/boundary.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Revised function space implementation: boundary is only a view on the spline control points not a separate spline
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added logging mechanism
  include/boundary.hpp
  include/bspline.hpp
  include/core.hpp
  include/creator.hpp
  include/igasolver.hpp
  include/layer.hpp
  include/memory.hpp
  include/options.hpp
  include/utils/blocktensor.hpp
  include/utils/fqn.hpp
  include/utils/serialize.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Changed examples to new logging mechanism
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bspline_surface_gismo.cxx
  examples/uniform_bspline_surface_io.cxx
  examples/uniform_bsplines.cxx
Due: pages

Added auto-tuning example
  examples/iganet_fitting_autotune.cxx
Due: pages

Updated unit tests for function space (not working yet)
  unittests/unittest_functionspace.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Implemented refined Greville points
  include/igabase.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Cleaned up code
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated IgANets Poisson example
  examples/iganet_poisson.cxx
Due: pages

Formatting
  examples/iganet_fitting_autotune.cxx
Due: pages

Determinant calculation of BlockTensor (#2)
  include/utils/blocktensor.hpp
Due: none

Formatting
  include/utils/blocktensor.hpp
Due: none

Fixed missing include files
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

change hyperparameter settings in fitting example
  examples/iganet_fitting.cxx
Due: pages

Fix typo error in fitting example with automated hyperparameter tuning
  examples/iganet_fitting_autotune.cxx
Due: pages

change logging to print loss values in each epoch
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Curl/icurl in 3d added
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed typo in documentation
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
Due: pages

Added custom Dataset
  include/igabase.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
