Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

pages:
  stage: build
  script:
  - apt-get update -y
  - apt-get install doxygen texlive-binaries texlive-font-utils -y
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_DOCS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make Doxygen
  ...

build-unittests-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_UNITTESTS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

build-pyiganet-gcc:
  stage: build
  script:
  - apt-get update -y
  - apt-get install python3 -y
  - python3 setup.py develop
  artifacts:
    paths:
    - build
    - pyiganet.egg-info

build-webapps-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_WEBAPPS=ON -DIGANET_BUILD_EXAMPLES=OFF -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

test-unittests-gcc:
  stage: test
  needs:
  - build-unittests-gcc
  script:
  - cd build
  - make test

build-unittests-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

build-webapps-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

test-unittests-clang:
  stage: test
  needs:
  - build-unittests-clang
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - cd build
  - make test

Split B-spline unit tests into multiple smaller files to reduce compile time for CUDA/HIP
  unittests/unittest_nonuniform_bspline_eval1.cxx
  unittests/unittest_nonuniform_bspline_eval2.cxx
  unittests/unittest_nonuniform_bspline_eval3.cxx
  unittests/unittest_nonuniform_bspline_eval4.cxx
  unittests/unittest_uniform_bspline_eval1.cxx
  unittests/unittest_uniform_bspline_eval2.cxx
  unittests/unittest_uniform_bspline_eval3.cxx
  unittests/unittest_uniform_bspline_eval4.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Fixed bug in knot vector initialization when using CUDA/HIP
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed compiler warning about missing return statement
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added finalize and memory_summary functions
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

PCH is now compiled with nvcc if CUDA is selected
  include/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Call finalize at the end of all unit tests and examples
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_dataloader.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  examples/iganet_stokes.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bspline_surface_gismo.cxx
  examples/uniform_bspline_surface_io.cxx
  examples/uniform_bsplines.cxx
  unittests/unittest_blocktensor.cxx
  unittests/unittest_boundary.cxx
  unittests/unittest_functionspace.cxx
  unittests/unittest_iganet.cxx
  unittests/unittest_nonuniform_bspline.cxx
  unittests/unittest_nonuniform_bspline_eval1.cxx
  unittests/unittest_nonuniform_bspline_eval2.cxx
  unittests/unittest_nonuniform_bspline_eval3.cxx
  unittests/unittest_nonuniform_bspline_eval4.cxx
  unittests/unittest_options.cxx
  unittests/unittest_uniform_bspline.cxx
  unittests/unittest_uniform_bspline_eval1.cxx
  unittests/unittest_uniform_bspline_eval2.cxx
  unittests/unittest_uniform_bspline_eval3.cxx
  unittests/unittest_uniform_bspline_eval4.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Added Mex support
  CMakeLists.txt
  README.md
  mex/src/CMakeLists.txt
  mex/src/mexbspline.cpp
  python/__init__.py
  python/core/__init__.py
  python/splines/__init__.py
  python/src/CMakeLists.txt
  python/src/pyblocktensor.cxx.in
  python/src/pybspline.cxx
  python/src/pybspline.cxx.in
  python/src/pyconfig.hpp.in
  python/src/pyoptions.cxx
  setup.py
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Code reformatting
  examples/iganet_fitting_geometry_dataloader.cxx
  include/CMakeLists.txt
  include/bspline.hpp
  include/core.hpp
  include/iganet.hpp
  include/utils/tensorarray.hpp
  mex/src/mexbspline.cpp
  python/__init__.py
  unittests/unittest_functionspace.cxx
  unittests/unittest_nonuniform_bspline_eval3.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

PCH is disabled when compiling with HIP
  CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed memory_summary for HIP
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Performance tests print memory consumption
  perftests/perftest_bspline_eval.cxx
  perftests/perftest_matmul.cxx
Due: pages

Improved memory summary output
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Display HIP version
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added performance benchmark results for AMD MI210
  perftests/results/AMD_MI210_bspline_eval_double.txt
Due: none

Added performance benchmark results for NVIDIA A100 and H100
  perftests/results/NVIDIA_A100_bspline_eval_double.txt
  perftests/results/NVIDIA_H100_bspline_eval_double.txt
Due: none

Added performance benchmark results for Intel and AMD CPUs
  perftests/results/AMD_EPYC9654_OMP1.txt
  perftests/results/AMD_EPYC9654_OMP128.txt
  perftests/results/AMD_EPYC9654_OMP16.txt
  perftests/results/AMD_EPYC9654_OMP2.txt
  perftests/results/AMD_EPYC9654_OMP32.txt
  perftests/results/AMD_EPYC9654_OMP4.txt
  perftests/results/AMD_EPYC9654_OMP64.txt
  perftests/results/AMD_EPYC9654_OMP8.txt
  perftests/results/Intel_XeonPlatinum8360Y_OMP1.txt
  perftests/results/Intel_XeonPlatinum8360Y_OMP16.txt
  perftests/results/Intel_XeonPlatinum8360Y_OMP2.txt
  perftests/results/Intel_XeonPlatinum8360Y_OMP32.txt
  perftests/results/Intel_XeonPlatinum8360Y_OMP4.txt
  perftests/results/Intel_XeonPlatinum8360Y_OMP64.txt
  perftests/results/Intel_XeonPlatinum8360Y_OMP8.txt
Due: none

Added performance benchmark results for AMD MI210 (float)
  perftests/results/AMD_MI210_bspline_eval_float.txt
Due: none

Added performance benchmark results for NVIDIA A100 and H100 (float)
  perftests/results/NVIDIA_A100_bspline_eval_float.txt
  perftests/results/NVIDIA_H100_bspline_eval_float.txt
Due: none

Added performance benchmark results for NVIDIA GH200 (double and float)
  perftests/results/NVIDIA_GH200_bspline_eval_double.txt
  perftests/results/NVIDIA_GH200_bspline_eval_float.txt
Due: none

Updated gitignore file
  .gitignore
Due: none

Removed obsolete test
  perftests/perftest_bspline_eval.cxx
Due: pages

Excluded performance result files from pre-commit
  .pre-commit-config.yaml
Due: none

Code formatting
  include/core.hpp
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added .space() to make plotting work again
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
Due: pages

Fixed bug in greville() for 0d
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added performance test for IgANet fitting
  perftests/perftest_iganet_fitting.cxx
Due: pages

Indicate G+Smo in sysinfo
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Code refactoring
  perftests/perftest_iganet_fitting.cxx
Due: pages

Updated Mex functions
  mex/src/CMakeLists.txt
  mex/src/mexBSpline.cpp
Due: none

Upgraded G+Smo
  cmake/gismo.cmake
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Removed spaces
  mex/src/CMakeLists.txt
Due: none

Renaming of template parameters
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_dataloader.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  include/igabase.hpp
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Scaling of performance numbers by the number of network parameters
  perftests/perftest_iganet_fitting.cxx
Due: pages

Adjust WebApp code to updated G+Smo version
  webapps/models/gismo/GismoGeometryModel.hpp
Due: none

Added operator+, -, *, / to B-spline class
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added transform() for individual components
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Using torch is_available() to check availability of CUDA, MPS, and XPU devices
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated GitLab and GitHub actions
  .github/workflows/cmake-multi-platform.yml
  .gitlab-ci.yml
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
