Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*

Fixed documentation
  examples/iganet_fitting_geometry_dataloader.cxx
Due: pages

Converted python to optional module
  python/__init__.py
  python/core/__init__.py
  python/splines/__init__.py
  python/src/CMakeLists.txt
  python/src/pyblocktensor.cxx.in
  python/src/pybspline.cxx
  python/src/pybspline.cxx.in
  python/src/pyconfig.hpp.in
  python/src/pyoptions.cxx
  setup.py
Due: none

Added optimizer header file
  include/iganet.h
  include/optimizer.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added DType concept
  include/options.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added FunctionSpaceType concept
  include/functionspace.hpp
  include/igabase.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added SplineType concepts
  include/bspline.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added BoundaryType concept
  include/boundary.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added functions to set optimizer options
  include/iganet.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added CuboidCreator
  include/creator.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Replaced IGANET_BUILD_flag by IGANET_OPTIONAL
  CMakeLists.txt
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Moved mex to separate repository
  mex/src/CMakeLists.txt
  mex/src/mexBSpline.cpp
Due: none

Remove hidden files
  .idea/.gitignore
  .idea/.name
  .idea/IgANet.iml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  iganet.sublime-project
  iganet.sublime-workspace
Due: none

Update README.md
  README.md
Due: none

Update README.md (#12)
  README.md
Due: none

Updated building of documentation
  docs/CMakeLists.txt
Due: pages

Removed GitLab and CircleCI CI/CD workflows
  .circleci/config.yml
  .gitlab-ci.yml
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added inline and const qualifiers
  include/bspline.hpp
  include/options.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Removed examples directory since the examples have been split into a separate repository
  examples/CMakeLists.txt
  examples/README.md
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_dataloader.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  examples/iganet_stokes.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bspline_surface_gismo.cxx
  examples/uniform_bspline_surface_io.cxx
  examples/uniform_bsplines.cxx
Due: pages

Updated README.md
  README.md
Due: none

Added norm(), normalize() and dot() for block tensors
  include/utils/blocktensor.hpp
Due: none

Added normal vector calculation for B-Splines
  include/bspline.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added relative stopping criterion
  include/iganet.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

BUG: Fixed wrong dimension of internal Greville points
  include/bspline.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Add support to select branch of optional modules
  CMakeLists.txt
  README.md
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added IGANET_OPTIONAL to CMake list of options
  CMakeLists.txt
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added tuple utilities
  include/utils.hpp
  include/utils/tuple.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Minor changes in the function space implementation
  include/functionspace.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Prototype of a general-purpose implementation with an arbitrary number of inputs and outputs
  include/igabase.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Prototype of a general-purpose implementation with an arbitrary number of inputs and outputs
  include/iganet.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Prototype of a general-purpose customizable IGANet class
  include/iganet.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

More tuple utilities
  include/utils/tuple.hpp
Due: none

Added type aliases
  include/igabase.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Improved IgANets2 class
  include/iganet.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Fixed bug in eval() function
  include/iganet.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added Nedelec-Raviar-Thomas-P triples function space for de Rham compatible discretization of the vorticity-velocity-pressure formulation of the Navier-Stokes equations
  include/functionspace.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Full implementation of IgANet2 (as future replacement for IgANet)
  include/functionspace.hpp
  include/igabase.hpp
  include/iganet.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Auto formatting
  .github/workflows/gh-pages.yml
  CMakeLists.txt
  README.md
  cmake/get_module.cmake
  docs/CMakeLists.txt
  docs/tutorial02.cxx
  include/boundary.hpp
  include/bspline.hpp
  include/creator.hpp
  include/functionspace.hpp
  include/igabase.hpp
  include/iganet.h
  include/iganet.hpp
  include/layer.hpp
  include/optimizer.hpp
  include/options.hpp
  include/sysinfo.hpp
  include/utils/blocktensor.hpp
  include/utils/serialize.hpp
  include/utils/tuple.hpp
  webapps/model.hpp
  webapps/models/gismo/GismoGeometryModel.hpp
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoModel.hpp
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
  webapps/models/gismo/GismoSurfaceReparameterization.hpp
  webapps/models/iganet/BSplineModel.hpp
  webapps/models/iganet/Poisson2d.cxx
  webapps/server.cxx
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added value_type to boundary class
  include/boundary.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang
