Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, unittests-gcc

.gitlab-ci.yml:

before_script:
   - apt-get update -y
   - apt-get install build-essential doxygen locales unzip wget zlib1g-dev -y
   - wget https://github.com/Kitware/CMake/releases/download/v3.24.3/cmake-3.24.3-linux-x86_64.tar.gz
   - tar xvzf cmake-3.24.3-linux-x86_64.tar.gz -C /
   - rm -f cmake-3.24.3-linux-x86_64.tar.gz
   - wget https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.13.0%2Bcpu.zip -O libtorch.zip
   - unzip libtorch.zip -d /
   - rm -f libtorch.zip
   - export PATH=$PATH:/cmake-3.24.3-linux-x86_64/bin
   - export LANG=en_US.UTF-8
   - export LC_ALL=en_US.UTF-8

stages:
  - build

#
# Create Doxygen documentation
#
pages:
  stage: build
  image: ubuntu:22.04
  script:
    - mkdir -p build
    - cd build
    - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_DOCS=ON -DTorch_DIR=/libtorch/share/cmake/Torch
    - make Doxygen
    - mv docs/doxygen/html ../public
    - mv docs/doxygen/*.xml ../public
  only:
    changes:
      - CMakeLists.txt
      - cmake/*
      - docs/*
      - include/*
      - examples/*
      - perftests/*
      - pybind11/*
      - unittests/*
  artifacts:
    paths:
      - public

#
# Compile and run unittests with GNU compiler collection
#
unittests-gcc:
  stage: build
  image: ubuntu:22.04
  script:
    - mkdir -p build
    - cd build
    - CC=gcc CXX=g++  cmake .. -DIGANET_BUILD_UNITTESTS=ON -DTorch_DIR=/libtorch/share/cmake/Torch
    - make
    - make test
  only:
    changes:
      - CMakeLists.txt
      - cmake/*
      - include/*
      - examples/*
      - perftests/*
      - pybind11/*
      - unittests/*

Attempt to fix cmake config error related to missing <filesystem> header
  .gitlab-ci.yml
Due: none

Another attempt to get filesystem header detected by the CI
  .gitlab-ci.yml
Due: none

Updated WebApps protocol
  webapps/server.cxx
Due: none

Updated WebApps protocol
  webapps/protocol.md
  webapps/server.cxx
Due: none

Started plugin framework
  CMakeLists.txt
  include/iganet.hpp
  include/jit.hpp.in
  include/pluginloader.hpp
  plugins/BSpline.cpp
Due: pages, unittests-gcc

Minor fixes in CMakeLists.txt files
  examples/CMakeLists.txt
  webapps/CMakeLists.txt
Due: pages, unittests-gcc

Revised plugin framework
  webapps/pluginloader.hpp
  webapps/plugins/BSpline.cxx
  webapps/plugins/CMakeLists.txt
Due: none

Implemented plugin mechanism
  include/iganet.hpp
  webapps/CMakeLists.txt
  webapps/pluginloader.hpp
  webapps/pluginmanager.hpp
  webapps/plugins/BSpline.cxx
  webapps/plugins/Poisson2d.cxx
  webapps/protocol.md
  webapps/server.cxx
Due: pages, unittests-gcc

First working implementation of plugin mechanism
  include/bspline.hpp
  webapps/CMakeLists.txt
  webapps/modelmanager.hpp
  webapps/models/BSpline.hpp
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
  webapps/models/CMakeLists.txt
  webapps/models/Poisson2d.cxx
  webapps/plugins/BSpline.cxx
  webapps/protocol.md
  webapps/server.cxx
Due: pages, unittests-gcc

Updated WebSockets
  cmake/websockets.cmake
Due: pages, unittests-gcc

Fixed missing linkage to libdl under linux
  webapps/CMakeLists.txt
Due: none

Renamed ncoeff() into ncumcoeff()
  include/boundary.hpp
  include/bspline.hpp
  include/iganet.hpp
  unittests/unittest_nonuniform_bspline.cxx
  unittests/unittest_splinelib.hpp
  unittests/unittest_uniform_bspline.cxx
Due: pages, unittests-gcc

Added refinement to server
  webapps/modelmanager.hpp
  webapps/models/BSpline.hpp
  webapps/protocol.md
  webapps/server.cxx
Due: none

SSL server application
  webapps/server.cxx
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Fixed segfault bug with GCC compiler
  webapps/modelmanager.hpp
Due: none

Added support for refinement
  webapps/modelmanager.hpp
  webapps/models/BSpline.hpp
Due: none

Changed default port to 9001
  webapps/server.cxx
Due: none

Updated CI
  .gitlab-ci.yml
Due: none

Fixed documentation
  include/bspline.hpp
  include/utils.hpp
Due: pages, unittests-gcc

Updated server
  include/iganet.hpp
  webapps/modelmanager.hpp
  webapps/models/BSpline.hpp
  webapps/models/Poisson2d.cxx
  webapps/server.cxx
Due: pages, unittests-gcc

WebApp status as enumerator; fixed bug in put/ command
  webapps/modelmanager.hpp
  webapps/models/BSpline.hpp
  webapps/server.cxx
Due: none

Minor fix to server
  webapps/server.cxx
Due: none

Fixed bug in creation of non-uniform B-splines
  include/bspline.hpp
Due: pages, unittests-gcc

Fixed functionspace class
  include/functionspace.hpp
Due: pages, unittests-gcc

Added literal for int64_t data type
  include/core.hpp
Due: pages, unittests-gcc

Added to_array/to_vector functions
  include/utils.hpp
Due: pages, unittests-gcc

Revised function space implementation
  include/functionspace.hpp
Due: pages, unittests-gcc

Refactoring of webapp namespaces
  webapps/modelmanager.hpp
  webapps/models/BSpline.hpp
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
  webapps/server.cxx
Due: none

Minor changes to protocol
  webapps/protocol.md
Due: none

Updated doxygen generation
  docs/Doxyfile.in
Due: pages

Updated demo application
  examples/demo.cxx
Due: pages, unittests-gcc

Fixed bug in unit tests
  unittests/unittest_uniform_bspline.cxx
Due: pages, unittests-gcc

Renaming of BSpline_t into spline_t
  include/functionspace.hpp
Due: pages, unittests-gcc

Renaming of bspline_t into spline_t
  include/creator.hpp
Due: pages, unittests-gcc

Minor refactoring
  include/boundary.hpp
Due: pages, unittests-gcc

Made init_coeffs public
  include/bspline.hpp
Due: pages, unittests-gcc
