Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*

Lots of tidy ups using Clang tidy
  include/boundary.hpp
  include/bspline.hpp
  include/core.hpp
  include/igabase.hpp
  include/iganet.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Lots of tidy ups using Clang tidy
  include/boundary.hpp
  include/bspline.hpp
  include/creator.hpp
  include/functionspace.hpp
  include/patch.hpp
  include/sysinfo.hpp
  include/utils/blocktensor.hpp
  include/utils/container.hpp
  include/utils/fqn.hpp
  include/utils/getenv.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Lots of tidy ups using Clang tidy
  include/utils/blocktensor.hpp
  include/utils/container.hpp
  include/utils/fqn.hpp
  include/utils/getenv.hpp
  include/utils/index_sequence.hpp
  include/utils/integer_pow.hpp
  include/utils/linalg.hpp
  include/utils/serialize.hpp
  include/utils/tensorarray.hpp
  include/utils/tuple.hpp
  include/utils/type_traits.hpp
  include/utils/uuid.hpp
  include/utils/vslice.hpp
  include/utils/zip.hpp
Due: none

Lots of tidy ups using Clang tidy
  include/bspline.hpp
  include/functionspace.hpp
  include/igabase.hpp
  include/iganet.hpp
  include/igasolver.hpp
  include/layer.hpp
  include/memory.hpp
  include/multipatch.hpp
  include/nurbs.hpp
  include/options.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Lots of tidy ups using Clang tidy
  include/options.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Auto formatting
  cmake/get_module.cmake
  include/boundary.hpp
  include/bspline.hpp
  include/creator.hpp
  include/functionspace.hpp
  include/igabase.hpp
  include/iganet.hpp
  include/igasolver.hpp
  include/layer.hpp
  include/memory.hpp
  include/nurbs.hpp
  include/options.hpp
  include/sysinfo.hpp
  include/utils/blocktensor.hpp
  include/utils/container.hpp
  include/utils/fqn.hpp
  include/utils/getenv.hpp
  include/utils/index_sequence.hpp
  include/utils/linalg.hpp
  include/utils/type_traits.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Fixed bug in FunctionSpace constructor
  include/functionspace.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Update PyTorch version and modify build options
  .github/workflows/cmake-multi-platform.yml
Due: none

Updated CMakeLists.txt
  CMakeLists.txt
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

[WIP] Enhance CMake workflow with additional flags input
  .github/workflows/cmake-multi-platform.yml
Due: none

Prevent duplicate job triggers in CI workflow
  .github/workflows/cmake-multi-platform.yml
Due: none

Clean up CMake multi-platform workflow triggers
  .github/workflows/cmake-multi-platform.yml
Due: none

Add CI workflow configuration
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Added separate CI workflow configurations for push and pull request
  .github/workflows/ci-pr.yml
  .github/workflows/ci-push.yml
Due: none

Updated separate CI workflow configurations for push and pull request
  .github/workflows/ci-pr.yml
  .github/workflows/ci-push.yml
Due: none

Enhance CMake workflow
  .github/workflows/ci-pr.yml
  .github/workflows/ci-push.yml
  .github/workflows/cmake-multi-platform.yml
Due: none

Test
  .github/workflows/ci-push.yml
Due: none

Removed old CI workflows
  .github/workflows/cmake-multi-platform.yml
  .github/workflows/gitlab-sync.yml
Due: none

Updated CI workflows
  .github/workflows/ci-pr.yml
  .github/workflows/ci-push.yml
Due: none

Updated doxygen CI workflows
  .github/workflows/gh-pages.yml
Due: none

Updated Doxyfile.in
  docs/Doxyfile.in
Due: pages

Updated README.md
  docs/README.md
Due: pages

Updated GitHub actions
  .github/workflows/ci-pr.yml
  .github/workflows/ci-push.yml
  .github/workflows/gh-pages.yml
Due: none

Updated GitHub actions
  .github/workflows/gh-pages.yml
Due: none

Updated tutorial02.cxx
  docs/tutorial02.cxx
Due: pages

Updated doxygen CI workflows
  docs/CMakeLists.txt
  docs/Doxyfile.in
  docs/README.md
  docs/_static/IgANet_logo_color.png
  docs/_static/iganets_logo.png
  docs/conf.py
  docs/index.rst
  docs/tutorial01.md
  docs/tutorial02.md
Due: pages

Updated CI workflow
  .github/workflows/ci-pr.yml
  .github/workflows/ci-push.yml
  .github/workflows/cmake-multi-platform.yml
  .github/workflows/gh-pages.yml
  .github/workflows/gitlab-sync.yml
  docs/CMakeLists.txt
  docs/Doxyfile.in
  docs/README.md
  docs/_static/IgANet_logo_color.png
  docs/_static/iganets_logo.png
  docs/conf.py
  docs/index.rst
  docs/tutorial01.md
  docs/tutorial02.cxx
  docs/tutorial02.md
Due: pages

Minor fixes
  docs/Doxyfile.in
  docs/index.rst
Due: pages

Tidy up using clang tidy (#16)
  cmake/get_module.cmake
  include/boundary.hpp
  include/bspline.hpp
  include/core.hpp
  include/creator.hpp
  include/functionspace.hpp
  include/igabase.hpp
  include/iganet.hpp
  include/igasolver.hpp
  include/layer.hpp
  include/memory.hpp
  include/multipatch.hpp
  include/nurbs.hpp
  include/options.hpp
  include/patch.hpp
  include/sysinfo.hpp
  include/utils/blocktensor.hpp
  include/utils/container.hpp
  include/utils/fqn.hpp
  include/utils/getenv.hpp
  include/utils/index_sequence.hpp
  include/utils/integer_pow.hpp
  include/utils/linalg.hpp
  include/utils/serialize.hpp
  include/utils/tensorarray.hpp
  include/utils/tuple.hpp
  include/utils/type_traits.hpp
  include/utils/uuid.hpp
  include/utils/vslice.hpp
  include/utils/zip.hpp
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Adjusted GitHub actions to branch renaming
  .github/workflows/ci-pr.yml
  .github/workflows/gh-pages.yml
Due: none

Name GitHub actions
  .github/workflows/gitlab-sync.yml
Due: none

Enhance README with status and badge links
  README.md
Due: none
