Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*

Formatting
  include/utils/blocktensor.hpp
Due: none

Added collective compile targets
  docs/CMakeLists.txt
  examples/CMakeLists.txt
  mex/src/CMakeLists.txt
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Added label and group tag to model parameters
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Extended tutorials
  docs/tutorial01.cxx
  docs/tutorial01.md
  docs/tutorial02.cxx
  docs/tutorial02.md
Due: pages

Formatting
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Formatting
  .github/workflows/gh-pages.yml
Due: none

Updated Dockerfile
  ops/Dockerfile.webapps-cpu
Due: none

Updated server to multipatch geometries
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Updated model to multipatch geometries and removed global transform
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Updated Gismo model to multipatch geometries and removed global transform
  webapps/models/gismo/GismoModel.hpp
Due: none

Updated BSpline model to multipatch geometries and removed global transform
  webapps/models/iganet/BSplineModel.hpp
Due: none

Updated Poisson2d model to multipatch geometries and removed global transform
  webapps/models/iganet/Poisson2d.cxx
Due: none

Updated Gismo PDE model to multipatch geometries and removed global transform
  webapps/models/gismo/GismoPdeModel.hpp
Due: none

Updated Gismo geometry model to multipatch geometries and removed global transform
  webapps/models/gismo/GismoGeometryModel.hpp
Due: none

Updated Dockerfile for ACUD 2024
  ops/Dockerfile.webapps-cpu
Due: none

First multipatch server implementation
  include/utils/serialize.hpp
  webapps/models/gismo/GismoGeometryModel.hpp
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoModel.hpp
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
  webapps/protocol.md
Due: pages, build-webapps-gcc, build-webapps-clang

Merge updated Dockerfiles into multi-patch server (#6)
  ops/Dockerfile.webapps-cpu
Due: none

Quick fix for ACUD 2024
  ops/Dockerfile.webapps-cpu
Due: none

Add: Traction-free-BC in 2D-file; Fix: terminal output for every loss-contribution
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: stress-calculation; Add: json data export for splinepy plotting
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Changes in WebApp propotol
  webapps/protocol.md
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Fixed bug in the patchIndex type
  webapps/models/gismo/GismoGeometryModel.hpp
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Add: postprocessing preparation; Fix: clang format
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Updated uWebSocket cmake dependency
  cmake/uwebsockets.cmake
  cmake/uwebsockets.patch
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated server configuration
  webapps/config/server.cfg
Due: none

Updated model interfaces
  webapps/model.hpp
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Added WolfSSL cmake dependency
  cmake/FindWolfSSL.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Add: adjusted the 3D-file to all the updates of the 2D-file
  examples/iganet_lin_elasticity_2D.cxx
  examples/iganet_lin_elasticity_3D.cxx
Due: pages

Add: Force BC (commented); Add: stress split in different directions; Fix: ctrlValue setting for G+Smo
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: export of traction loss; Add: calculation of poisson distribution
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: body force simulation (commented); Note: traction right currently active
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Fix: improving code's flexibility for user inputs; Add: neumannSides for traction BCs
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: increased simulation flexibility - 'user inputs' nearly control everything now
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: greville calculation for gismo simulation; Fix: elasticity only at interior collPts
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Fix: BC conflicts between TFBCs and Dirichlet BCs; Note: does not yet work for Force BCs
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: Reference Simulation G+smo; Fix: Control Point Calculation G+Smo; Fix: Side Numbering in Dirichlet BCs
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Fix: calculate traction-coll-pts only once now; Add: write displacements and original geometry in json; Rm: traction postprocessing; Add: var_knot_indices etc. now for all derivations
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Adjusted to updated G+Smo stable
  CMakeLists.txt
  cmake/gismo.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated to new G+Smo stable that does not include namespace gismo by default
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_dataloader.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/uniform_bspline_surface_gismo.cxx
  include/bspline.hpp
  include/utils/serialize.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang
