Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

pages:
  stage: build
  script:
  - apt-get update -y
  - apt-get install doxygen texlive-binaries texlive-font-utils -y
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_DOCS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make Doxygen
  ...

build-unittests-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_UNITTESTS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

build-pyiganet-gcc:
  stage: build
  script:
  - apt-get update -y
  - apt-get install python3 -y
  - python3 setup.py develop
  artifacts:
    paths:
    - build
    - pyiganet.egg-info

build-webapps-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_WEBAPPS=ON -DIGANET_BUILD_EXAMPLES=OFF -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

test-unittests-gcc:
  stage: test
  needs:
  - build-unittests-gcc
  script:
  - cd build
  - make test

build-unittests-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

build-webapps-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

test-unittests-clang:
  stage: test
  needs:
  - build-unittests-clang
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - cd build
  - make test

Updated README
  README.md
Due: none

Fixed bug in unit tests for Intel GPUs
  unittests/unittest_options.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Added new performance result for Intel Max1110 GPU
  perftests/results/Intel_Max1110_double_new.txt
Due: none

added Neumann conditions (hard coded)
  examples/iganet_neo_Hook_2D.cxx
Due: pages

Implemented missing function space ctors
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

[WIP] Return control points instead of texture on eval request
  webapps/models/gismo/GismoGeometryModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

[WIP] Added more information in the eval return
  webapps/models/gismo/GismoGeometryModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

refined geometry
  examples/iganet_poisson_quadCircle.cxx
Due: pages

started implementing displacement as function
  examples/iganet_neo_Hook_2D.cxx
Due: pages

Visualization of RHS
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Visualization of linear elasticity working with new frontend
  webapps/models/gismo/GismoLinearElasticityModel.hpp
Due: none

fixed index issue, trying to implement reset of optimizer
  examples/iganet_neo_Hook_2D.cxx
Due: pages

tried out resetting optimizer, does not work
  examples/iganet_neo_Hook_2D.cxx
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

might have fixed reset issue
  examples/iganet_neo_Hook_2D.cxx
Due: pages

added command line arguments
  examples/iganet_neo_Hook_2D.cxx
Due: pages

added more description, command line arguments and early stopping
  examples/iganet_neo_Hook_2D.cxx
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added overlaods for curl, div, grad, hess, lapl that determine the indices of basis functions and coefficients internally
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated Stokes example
  examples/iganet_stokes.cxx
Due: pages

added some more output options
  examples/iganet_neo_Hook_2D.cxx
Due: pages

Updated webapp server: remove patch, patchwise reparameterization
  webapps/model.hpp
  webapps/models/gismo/GismoGeometryModel.hpp
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
  webapps/models/iganet/BSplineModel.hpp
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

added options and early stopping
  examples/iganet_neo_Hook_2D.cxx
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Update of the back-end to the shader-based front-end (#8)
  webapps/model.hpp
  webapps/models/gismo/GismoGeometryModel.hpp
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
  webapps/models/iganet/BSplineModel.hpp
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

error in iganet.hpp
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

added iganet_lin_elasticity_2D to nlEl Branch
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

[WIP] Update README.md
  README.md
Due: none

Updated GitHub Pages action
  .github/workflows/gh-pages.yml
Due: none

Updated GitHub Pages action
  .github/workflows/gh-pages.yml
  docs/README.md
Due: pages

Circle windows (#10)
  .circleci/config.yml
  .gitlab-ci.yml
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated CircleCI configuration
  .circleci/config.yml
Due: none

first draft stokes unit square
  examples/iganet_stokes_square.cxx
Due: pages

Converted unittests to optionel module
  .gitignore
  CMakeLists.txt
  cmake/get_module.cmake
  examples/CMakeLists.txt
  include/CMakeLists.txt
  unittests/CMakeLists.txt
  unittests/README.md
  unittests/unittest_blocktensor.cxx
  unittests/unittest_boundary.cxx
  unittests/unittest_bsplinelib.hpp
  unittests/unittest_config.hpp.in
  unittests/unittest_functionspace.cxx
  unittests/unittest_iganet.cxx
  unittests/unittest_nonuniform_bspline.cxx
  unittests/unittest_nonuniform_bspline_eval1.cxx
  unittests/unittest_nonuniform_bspline_eval2.cxx
  unittests/unittest_nonuniform_bspline_eval3.cxx
  unittests/unittest_nonuniform_bspline_eval4.cxx
  unittests/unittest_options.cxx
  unittests/unittest_uniform_bspline.cxx
  unittests/unittest_uniform_bspline_eval1.cxx
  unittests/unittest_uniform_bspline_eval2.cxx
  unittests/unittest_uniform_bspline_eval3.cxx
  unittests/unittest_uniform_bspline_eval4.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated CMakeLists.txt file
  CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

added .json input option
  examples/config_template.json
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Replaced include_directories() by interface
  CMakeLists.txt
  cmake/Matplot++.cmake
  cmake/boost_preprocessor.cmake
  cmake/gismo.cmake
  cmake/nlohmann_json.cmake
  cmake/pugixml.cmake
  include/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated JSON compile definitions
  CMakeLists.txt
  cmake/nlohmann_json.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed errir in cmake file
  cmake/nlohmann_json.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
