Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*

Added updateAttributes to Gismo PDE model
  webapps/models/gismo/GismoPdeModel.hpp
Due: none

Updated GitHub CI/CD
  .github/workflows/cmake-multi-platform.yml
Due: none

Updated Gismo model
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Added ModelIncrease
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Changed numRefine to num
  webapps/models/BSplineModel.hpp
  webapps/protocol.md
Due: pages, build-webapps-gcc, build-webapps-clang

Fixed inconsistencies in CMakeLists
  examples/CMakeLists.txt
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
  webapps/models/CMakeLists.txt
Due: pages, build-unittests-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in models
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Updated README
  README.md
Due: none

Updated protocol
  webapps/protocol.md
Due: pages, build-webapps-gcc, build-webapps-clang

Multi-threaded server
  webapps/config/server-nossl.cfg
  webapps/config/server.cfg
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Updated Gismo model
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Create gitlab-sync.yml
  .github/workflows/gitlab-sync.yml
Due: none

Initial commit
  README.md
Due: none

ReadMe change try
  README.md
Due: none

Fixed bug in config.hpp
  include/config.hpp.in
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added more documentation
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Removed debug code
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Changed default type to float
  examples/nonuniform_bsplines.cxx
  examples/uniform_bspline_surface_gismo.cxx
  examples/uniform_bspline_surface_io.cxx
  examples/uniform_bsplines.cxx
Due: pages

Thread save output
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Added support for XPU device
  include/options.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

G+Smo cannot be compiled with a different index_t right now
  cmake/gismo.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Reverted default type to double
  examples/iganet.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bspline_surface_gismo.cxx
  examples/uniform_bspline_surface_io.cxx
  examples/uniform_bsplines.cxx
Due: pages

Added two fitting examples
  examples/iganet_fitting.cxx
  examples/iganet_fitting_simply.cxx
Due: pages

build added to .gitignore
  .gitignore
Due: none

.gitgnore updated
  .gitignore
  README.md
Due: none

Readme updated
  README.md
Due: none

Actions deleted
  .github/workflows/cmake-multi-platform.yml
  .github/workflows/gitlab-sync.yml
  .gitignore
Due: none

Refactoring of IgANet methods and attributes
  examples/iganet.cxx
  examples/iganet_fitting.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_fitting_simply.cxx
  examples/iganet_poisson.cxx
  include/bspline.hpp
  include/iganet.hpp
  unittests/unittest_iganet.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Finalized fitting examples with error calculation through G+Smo
  examples/iganet_fitting.cxx
  examples/iganet_fitting_simple.cxx
Due: pages

Added diff() and abs_diff() function to B-spline class
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

User definable collocation points
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Changed default resultion
  examples/iganet_fitting.cxx
  examples/iganet_fitting_simple.cxx
Due: pages

Started makeover of plot()
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Temporal fix of plot
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Removed ambiguous member function
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated dependencies
  cmake/Matplot++.cmake
  cmake/boost_preprocessor.cmake
  cmake/nlohmann_json.cmake
  cmake/pugixml.cmake
  cmake/uwebsockets.cmake
  webapps/CMakeLists.txt
  webapps/models/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Makeover of plot()
  examples/demo.cxx
  examples/iganet_fitting.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bspline_surface_io.cxx
  examples/uniform_bsplines.cxx
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang
