Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, unittests-gcc

.gitlab-ci.yml:

before_script:
   - apt-get update -y
   - apt-get install build-essential doxygen locales unzip wget zlib1g-dev libstdc++-11-dev -y
   - wget https://github.com/Kitware/CMake/releases/download/v3.26.3/cmake-3.26.3-linux-x86_64.tar.gz
   - tar xvzf cmake-3.26.3-linux-x86_64.tar.gz -C /opt
   - rm -f cmake-3.26.3-linux-x86_64.tar.gz
   - wget https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.13.0%2Bcpu.zip -O libtorch.zip
   - unzip libtorch.zip -d /opt
   - rm -f libtorch.zip
   - export PATH=$PATH:/opt/cmake-3.26.3-linux-x86_64/bin
   - locale-gen --purge en_US.UTF-8
   - echo -e 'LANG="en_US.UTF-8"\nLANGUAGE="en_US:en"\n' > /etc/default/locale
   - export LANG=en_US.UTF-8
   - export LC_ALL=en_US.UTF-8

stages:
  - build

#
# Create Doxygen documentation
#
pages:
  stage: build
  image: ubuntu:22.04
  script:
    - mkdir -p build
    - cd build
    - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_DOCS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
    - make Doxygen
    - mv docs/doxygen/html ../public
    - mv docs/doxygen/*.xml ../public
  only:
    changes:
      - .gitlab-ci.yml
      - CMakeLists.txt
      - cmake/*
      - docs/*
      - include/*
      - examples/*
      - perftests/*
      - pybind11/*
      - unittests/*
      - server/*
  artifacts:
    paths:
      - public

#
# Compile and run unittests with GNU compiler collection
#
unittests-gcc:
  stage: build
  image: ubuntu:22.04
  script:
    - mkdir -p build
    - cd build
    - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_UNITTESTS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
    - make
    - make test
  only:
    changes:
      - CMakeLists.txt
      - cmake/*
      - include/*
      - examples/*
      - perftests/*
      - pybind11/*
      - unittests/*
      - server/*

PyBind11
  .clang-format
  .gitignore
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/boost_preprocessor.cmake
  cmake/nlohmann_json.cmake
  cmake/pybind11.cmake
  include/blocktensor.hpp
  include/boundary.hpp
  include/bspline.hpp
  include/core.hpp
  include/functionspace.hpp
  include/iganet.hpp
  include/json.hpp
  pyiganet/__init__.py
  pyiganet/core/__init__.py
  pyiganet/splines/__init__.py
  pyiganet/src/CMakeLists.txt
  pyiganet/src/pyblocktensor.cxx.in
  pyiganet/src/pybspline.cxx
  pyiganet/src/pybspline.cxx.in
  pyiganet/src/pycore.cxx
  setup.py
Due: pages, unittests-gcc

Add README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Added utility function
  include/utils.hpp
Due: pages, unittests-gcc

Fixed missing override
  include/boundary.hpp
Due: pages, unittests-gcc

Extended core class
  include/core.hpp
Due: pages, unittests-gcc

More changes in core
  include/core.hpp
Due: pages, unittests-gcc

Added support for environment variables
  setup.py
Due: none

Fixed bugs in CUDA and GCC
  include/bspline.hpp
  include/functionspace.hpp
  include/utils/blocktensor.hpp
Due: pages, unittests-gcc

Fixed memory bugs in BlockTensor (GCC)
  include/utils/blocktensor.hpp
Due: none

Refactoring of unit and performance tests
  include/boundary.hpp
  include/bspline.hpp
  include/functionspace.hpp
  perftests/perftest_bspline_eval.cxx
  perftests/perftest_bspline_eval_optimized.cxx
  perftests/perftest_matmul.cxx
  unittests/unittest_boundary.cxx
  unittests/unittest_functionspace.cxx
  unittests/unittest_nonuniform_bspline.cxx
  unittests/unittest_nonuniform_bspline_eval.cxx
  unittests/unittest_uniform_bspline.cxx
  unittests/unittest_uniform_bspline_eval.cxx
Due: pages, unittests-gcc

Fixed bug in ginv() and ginvtr() of block tensors
  include/utils/blocktensor.hpp
Due: none

BOOST_PP, bug fixes in functionspace and boundary
  CMakeLists.txt
  include/boundary.hpp
  include/bspline.hpp
Due: pages, unittests-gcc

Removed unneeded BOOST_PP header file
  pyiganet/src/pybspline.cxx.in
Due: none

Fixed + and ^ operator for deriv type; code cleanup
  include/bspline.hpp
Due: pages, unittests-gcc

Refactoring cmake files
  cmake/Matplot++.cmake
  cmake/boost_preprocessor.cmake
  cmake/gismo.cmake
  cmake/nlohmann_json.cmake
  cmake/popl.cmake
  cmake/pugixml.cmake
  cmake/pybind11.cmake
  cmake/uwebsockets.cmake
Due: pages, unittests-gcc

Refactoring core functionality
  include/bspline.hpp
  include/functionspace.hpp
  include/utils/blocktensor.hpp
  include/utils/tensorarray.hpp
Due: pages, unittests-gcc

Refactoring Python API
  pyiganet/src/CMakeLists.txt
  pyiganet/src/pybspline.cxx
  pyiganet/src/pybspline.cxx.in
Due: none

Refactoring unit tests
  unittests/unittest_blocktensor.cxx
  unittests/unittest_boundary.cxx
  unittests/unittest_bsplinelib.hpp
  unittests/unittest_functionspace.cxx
  unittests/unittest_nonuniform_bspline_eval.cxx
  unittests/unittest_options.cxx
  unittests/unittest_uniform_bspline_eval.cxx
Due: pages, unittests-gcc

Fixed GCC errors
  include/bspline.hpp
  include/utils/blocktensor.hpp
  unittests/unittest_blocktensor.cxx
  unittests/unittest_functionspace.cxx
Due: pages, unittests-gcc

Added static asserts
  include/boundary.hpp
Due: pages, unittests-gcc

Updated unit tests
  unittests/unittest_functionspace.cxx
Due: pages, unittests-gcc

Fixed bin in 0d boundary
  include/bspline.hpp
  unittests/unittest_functionspace.cxx
Due: pages, unittests-gcc

Unit tests for boundary
  unittests/unittest_boundary.cxx
Due: pages, unittests-gcc

Added ncoeff_reverse attribute, fixed bug in coeffs_view(), fixed bug in grad, hess, jac for 0d
  include/bspline.hpp
Due: pages, unittests-gcc

Added grad, jac, hess
  include/boundary.hpp
  include/functionspace.hpp
Due: pages, unittests-gcc

Fixed minor bug in igrad, ijac, ihess for parDim==0
  include/bspline.hpp
Due: pages, unittests-gcc

Added igrad, ijac, and ihess
  include/functionspace.hpp
Due: pages, unittests-gcc

Fixed bug in coeff_view()
  include/bspline.hpp
Due: pages, unittests-gcc

Updated comments
  include/functionspace.hpp
Due: pages, unittests-gcc

Unified uniform_refine()
  include/bspline.hpp
Due: pages, unittests-gcc

Added reduce_continuity() and fixed some minor bugs
  include/bspline.hpp
Due: pages, unittests-gcc

Fixed bugs in THx, RTx, and NEx
  include/functionspace.hpp
Due: pages, unittests-gcc

Unit tests for function spaces
  unittests/unittest_functionspace.cxx
Due: pages, unittests-gcc

Updated CI/CD
  .gitlab-ci.yml
Due: pages

Fixed bug in unit test
  unittests/unittest_uniform_bspline.cxx
Due: pages, unittests-gcc

[skip-ci] Updated CMakeLists.txt
  CMakeLists.txt
Due: pages, unittests-gcc
