Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

pages:
  stage: build
  script:
  - apt-get update -y
  - apt-get install doxygen texlive-binaries texlive-font-utils -y
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_DOCS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make Doxygen
  ...

build-unittests-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_UNITTESTS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

build-pyiganet-gcc:
  stage: build
  script:
  - apt-get update -y
  - apt-get install python3 -y
  - python3 setup.py develop
  artifacts:
    paths:
    - build
    - pyiganet.egg-info

build-webapps-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_WEBAPPS=ON -DIGANET_BUILD_EXAMPLES=OFF -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

test-unittests-gcc:
  stage: test
  needs:
  - build-unittests-gcc
  script:
  - cd build
  - make test

build-unittests-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

build-webapps-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

test-unittests-clang:
  stage: test
  needs:
  - build-unittests-clang
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - cd build
  - make test

Fixed bugs in boundary refinement and extended unit tests
  include/boundary.hpp
  unittests/unittest_boundary.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Removed disabled assignment operator
  include/bspline.hpp
  unittests/unittest_nonuniform_bspline.cxx
  unittests/unittest_uniform_bspline.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Removed SIMD OpenMP pragma that cannot be satisfied.
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added copy/clone constructor for boundary
  include/boundary.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added unit tests for boundary
  unittests/unittest_boundary.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Load/save of boundary
  include/boundary.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Unit tests for load/save of boundary
  unittests/unittest_boundary.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

XML input/output of boundary object
  include/boundary.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Minor changes in CUDA kernel
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

XML input/output unit tests for boundary
  unittests/unittest_boundary.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Extended function space unit tests
  unittests/unittest_functionspace.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Fix formatting
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

update bsplinelib tests
  unittests/unittest_bsplinelib.hpp
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Updated G+Smo patch
  cmake/gismo.patch
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in including subprojects
  cmake/Matplot++.cmake
  cmake/gismo.cmake
  cmake/popl.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug when compiled with G+Smo
  include/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in XML serialization
  include/boundary.hpp
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added user-defined literal for short_t type
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed XML import/export for 0D parametric domains
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Replaced CHECK_EQ(..., true) by CHECK_TRUE(...)
  unittests/unittest_nonuniform_bspline.cxx
  unittests/unittest_options.cxx
  unittests/unittest_uniform_bspline.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

XML unit tests for boundary
  filedata/domain1d/line_boundary.xml
  filedata/domain2d/square_boundary.xml
  filedata/domain3d/cube_boundary.xml
  filedata/domain4d/hypercube_boundary.xml
  unittests/unittest_boundary.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Fix formatting
  include/boundary.hpp
  include/bspline.hpp
  include/utils/serialize.hpp
  include/utils/tensorarray.hpp
  unittests/unittest_boundary.cxx
  unittests/unittest_functionspace.cxx
  unittests/unittest_uniform_bspline.cxx
  webapps/model.hpp
  webapps/models/BSplineModel.hpp
  webapps/models/Poisson2d.cxx
  webapps/server.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in unit tests
  filedata/domain3d/cube_boundary.xml
  filedata/domain4d/hypercube_boundary.xml
  unittests/unittest_boundary.cxx
  unittests/unittest_nonuniform_bspline.cxx
  unittests/unittest_uniform_bspline.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Small fix for 0D case
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Import/export of boundary objects to JSON
  include/boundary.hpp
  unittests/unittest_boundary.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

update bsplinelib tests
  perftests/perftest_bspline_eval.cxx
Due: pages

Disable building G+Smo snippets
  cmake/gismo.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Small fixes of CMake configuration
  examples/CMakeLists.txt
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
Due: pages, build-unittests-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in PCH
  include/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

HIP version running
  include/bspline.cuh
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Bugfix for CUDA
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added compiler flag to force CPU-only code
  CMakeLists.txt
  examples/CMakeLists.txt
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated performance tests
  .gitlab-ci.yml
  perftests/perftest_bspline_eval.cxx
  perftests/perftest_matmul.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in HIP compilation
  examples/CMakeLists.txt
  include/bspline.hpp
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Suppress warnings with NVCC
  include/bspline.hpp
  include/utils/serialize.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added from_gismo(), to_gismo() for B-splines
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed a bug in the non-uniform B-spline constructor
  examples/nonuniform_bsplines.cxx
  examples/uniform_bsplines.cxx
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added surface geometries in 2d and 3d
  filedata/surfaces/2d/geo01.xml
  filedata/surfaces/2d/geo02.xml
  filedata/surfaces/2d/geo03.xml
  filedata/surfaces/2d/geo04.xml
  filedata/surfaces/2d/geo05.xml
  filedata/surfaces/2d/geo06.xml
  filedata/surfaces/2d/geo07.xml
  filedata/surfaces/2d/geo08.xml
  filedata/surfaces/2d/geo09.xml
  filedata/surfaces/2d/geo10.xml
  filedata/surfaces/2d/geo11.xml
  filedata/surfaces/2d/geo12.xml
  filedata/surfaces/2d/geo13.xml
  filedata/surfaces/2d/geo14.xml
  filedata/surfaces/2d/geo15.xml
  filedata/surfaces/2d/geo16.xml
  filedata/surfaces/2d/geo17.xml
  filedata/surfaces/2d/geo18.xml
  filedata/surfaces/2d/geo19.xml
  filedata/surfaces/2d/geo20.xml
  filedata/surfaces/3d/geo01.xml
  filedata/surfaces/3d/geo02.xml
  filedata/surfaces/3d/geo03.xml
  filedata/surfaces/3d/geo04.xml
  filedata/surfaces/3d/geo05.xml
  filedata/surfaces/3d/geo06.xml
  filedata/surfaces/3d/geo07.xml
  filedata/surfaces/3d/geo08.xml
  filedata/surfaces/3d/geo09.xml
  filedata/surfaces/3d/geo10.xml
  filedata/surfaces/3d/geo11.xml
  filedata/surfaces/3d/geo12.xml
  filedata/surfaces/3d/geo13.xml
  filedata/surfaces/3d/geo14.xml
  filedata/surfaces/3d/geo15.xml
  filedata/surfaces/3d/geo16.xml
  filedata/surfaces/3d/geo17.xml
  filedata/surfaces/3d/geo18.xml
  filedata/surfaces/3d/geo19.xml
  filedata/surfaces/3d/geo20.xml
Due: none

Fixed bug in G+Smo conversion
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Enable extra modules in G+Smo
  cmake/gismo.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
