Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*

Fixed identation
  include/utils/serialize.hpp
Due: none

JIT compiler infrastructure
  cmake/genJIT.cmake
  webapps/model.hpp
  webapps/modelmanager.hpp
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineModel.hpp
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
  webapps/models/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

[Skip-CI] JIT compiler
  cmake/genJIT.cmake
  webapps/modelmanager.hpp
  webapps/models/jit.hpp.in
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed genJIT CMake function
  cmake/genJIT.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed outdated handling of OpenMP in CMake
  CMakeLists.txt
  examples/CMakeLists.txt
  include/CMakeLists.txt
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Refactored class ModelHandler from internal to public class
  webapps/modelmanager.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Fixed bugs in JIT
  webapps/models/CMakeLists.txt
  webapps/models/jit.hpp.in
Due: none

Relocated server config files
  webapps/config/server-nossl.cfg
  webapps/config/server.cfg
Due: none

Changed models to JIT compiler
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineModel.hpp
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
Due: none

Fixed JIT
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
Due: none

Fixed jit-issues under Linux
  cmake/genJIT.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added IGANET_BUILD_PCH to enable/disable building pre-compiled headers
  CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed JIT-bug in Linux linker
  cmake/genJIT.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added IGANET_BUILD_PCH to enable/disable building pre-compiled headers
  examples/CMakeLists.txt
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
  webapps/models/CMakeLists.txt
Due: pages, build-unittests-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated Dockerfiles
  ops/Dockerfile.webapps-cpu
  ops/Dockerfile.webapps-gitlab-ci
Due: none

Updated WebApps unittests
  webapps/unittests/test_server.py
  webapps/unittests/wsiganet.py
Due: none

Fixed bug in webapps unit tests
  webapps/unittests/test_server.py
Due: none

Fixed minor bug in server and code formatting
  cmake/genJIT.cmake
  webapps/modelmanager.hpp
  webapps/server.cxx
  webapps/unittests/test_server.py
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Update documentation
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Update documentation
  webapps/protocol.md
Due: pages, build-webapps-gcc, build-webapps-clang

Save/load transform to/from PT file
  webapps/models/BSplineModel.hpp
Due: none

Rename elements to matrix
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Change ordering of transformation matrix
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

get/ returns the transformation matrix as well
  webapps/models/BSplineModel.hpp
Due: none

Changed id to type int to enable negative values to indicate that the id is irrelevant
  webapps/model.hpp
  webapps/models/BSplineModel.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Load multiple model instances from .ptc file; fixed bug in importXML
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Ignore id in XML if negative
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bugs in boundary unit tests on requires_grad
  unittests/unittest_boundary.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Documentation
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in Poisson2d
  webapps/models/Poisson2d.cxx
Due: none

Correct initialization of transformation matrix
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Updated response when loading multiple models
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

ImportXML of BSplineModel objects working
  webapps/models/BSplineModel.hpp
Due: none

Improved efficiency of to_tensorAccessor
  include/utils/tensorarray.hpp
Due: none

Extended to/from XML
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Conversion of tensor to and from XML
  include/utils/serialize.hpp
Due: none

isclose function for boundary objects
  include/boundary.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in B-Spline
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

More unit tests
  unittests/unittest_boundary.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang
