Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*

Fixed a bug in printing XML
  examples/nonuniform_bsplines.cxx
  examples/uniform_bsplines.cxx
Due: pages

Added sublime project and workspace
  iganet.sublime-project
  iganet.sublime-workspace
Due: none

Added example for input/output
  examples/uniform_bspline_surface_io.cxx
Due: pages

Fixed compiler issues with G+Smo enabled
  CMakeLists.txt
  cmake/genJIT.cmake
  examples/CMakeLists.txt
  include/CMakeLists.txt
  include/bspline.hpp
  include/config.hpp.in
  include/core.hpp
  perftests/CMakeLists.txt
  pyiganet/src/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
  webapps/model.hpp
  webapps/models/BSplineModel.hpp
  webapps/models/CMakeLists.txt
  webapps/webapps_config.hpp.in
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added example for IgANet / G+Smo coupling
  examples/uniform_bspline_surface_gismo.cxx
Due: pages

Added IPEX
  CMakeLists.txt
  examples/CMakeLists.txt
  perftests/CMakeLists.txt
  pyiganet/src/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

First implementation of G+Smo webapp model
  include/utils/serialize.hpp
  webapps/models/GismoModel.hpp
  webapps/models/GismoPdeModel.hpp
  webapps/models/GismoPoisson2d.cxx
  webapps/models/GismoPoissonModel.hpp
Due: none

Fixed missing types for G+Smo
  cmake/gismo.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed wrong error message
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Fixed comment
  webapps/models/BSplineSurface.cxx
Due: none

Renamed transform into transform_
  webapps/models/BSplineModel.hpp
Due: none

Changed short_t type
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Renamed transform into transform_
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Disabled compiler warnings
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
  webapps/models/GismoPoisson2d.cxx
Due: none

Removed debug output
  webapps/models/BSplineModel.hpp
  webapps/models/GismoModel.hpp
  webapps/models/GismoPdeModel.hpp
  webapps/models/GismoPoissonModel.hpp
Due: none

Update
  iganet.sublime-workspace
Due: none

Disabled compiler warnings
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
Due: none

Added flattened to_json for gsMatrix
  include/utils/serialize.hpp
Due: none

Disabled compiler warnings
  webapps/models/GismoPoisson2d.cxx
Due: none

Fixed bug in GismoModel
  webapps/models/GismoModel.hpp
  webapps/models/GismoPdeModel.hpp
Due: none

Disabled compiler warnings
  webapps/models/Poisson2d.cxx
Due: none

Updated CMakeLists files
  examples/CMakeLists.txt
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/models/CMakeLists.txt
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Updated documentation
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineModel.hpp
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
  webapps/models/Poisson2d.cxx
Due: none

Moved Gismo models
  webapps/models/gismo/GismoModel.hpp
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoisson2d.cxx
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Create cmake-multi-platform.yml
  .github/workflows/cmake-multi-platform.yml
Due: none

Updated GitHub CI/CD
  .github/workflows/cmake-multi-platform.yml
Due: none

Updated GitLab CI/CD
  .gitlab-ci.yml
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated Gismo models
  webapps/models/CMakeLists.txt
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoisson2d.cxx
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none
