Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*

Added train function with dataloader
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added from_xml/to_xml for function spaces
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed some bugs in data loader
  include/igabase.hpp
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated fitting examples
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
Due: pages

Minor update of examples
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bspline_surface_gismo.cxx
  examples/uniform_bspline_surface_io.cxx
  examples/uniform_bsplines.cxx
Due: pages

adapt fitting example on quadCircle geometry and add first attempt at poisson - nan losses
  examples/iganet_fitting_quadCircle.cxx
  examples/iganet_fitting_quadCircle_simple.cxx
  examples/iganet_poisson_quadCirc.cxx
  examples/iganet_poisson_quadCircle.cxx
Due: pages

enable logging of loss values to the console
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

revert changes in faulty commit d90840d
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

First step into evaluating multiple B-spline objects in a batch
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Example with hyper-parameter and data loader
  examples/iganet_fitting_geometry_dataloader_autotune.cxx
Due: pages

Updated auto-tune example
  examples/iganet_fitting_autotune.cxx
Due: pages

add first draft of stokes example - not working
  build/examples/iganet_stokes
Due: none

add first draft of stokes example - define function spaces for variable (compiler errors)
  examples/iganet_stokes.cxx
Due: pages

Add quadCircle geometries with variable radius
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR05I02_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR05I03_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR05I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR05I05_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR075I02_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR075I03_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR075I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR075I05_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR125I02_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR125I03_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR125I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR125I05_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR15I02_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR15I03_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR15I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR15I05_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR1I02_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR1I03_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR1I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircle_variableRadius/quadCircleR1I05_resultR1E1Fixed.xml
Due: none

Updated comments
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added type traits
  include/utils.hpp
  include/utils/type_traits.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed multiple bugs when a single-function space object is evaluated at collocation points of a multi-function space object
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

First setup of Stokes equations
  examples/iganet_stokes.cxx
Due: pages

More on mixed single-/multi-space function spaces
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed small bug in blockvector
  include/utils/blocktensor.hpp
Due: none

More on mixed single-/multi-space function spaces
  include/bspline.hpp
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in div operator
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed minor bugs in curl operator
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed small bug in idiv operator
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Extended operator* of block tensor to support multi-valued tensors
  include/utils/blocktensor.hpp
Due: none

Fixed small bug in idiv
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Add example of dataloader for quadcircle geometry
  examples/iganet_fitting_quadCircle_dataloader.cxx
Due: pages

Update gitignore
  .gitignore
Due: none

add material parameters to stokes
  examples/iganet_stokes.cxx
Due: pages

first draft of example with loading saved model - not working
  examples/iganet_load_eval.cxx
Due: pages

More on multi-valued tensors
  include/boundary.hpp
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Clear other changes to fit master
  .gitignore
  README.md
Due: none

icurl calculation added (de Rham conform) (#3)
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added utils::getenv()
  examples/iganet_fitting_autotune.cxx
  include/utils.hpp
  include/utils/getenv.hpp
  perftests/perftest_bspline_eval.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Reformatting
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Reformatting
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

More on multi-valued function spaces
  include/boundary.hpp
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang
