Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*

Removed obsolete documentation folder
  docs/sections/advanced.rst
  docs/sections/api_documentation.rst
  docs/sections/basics.rst
  docs/sections/faq.rst
  docs/sections/installation_guide.rst
  docs/sections/library.rst
  docs/sections/release_notes.rst
  docs/sections/tutorials.rst
  docs/tutorial01.md
  docs/tutorial02.md
Due: pages

Updated doxygen documentation
  docs/Doxyfile.in
  docs/README.md
  docs/tutorial01.md
Due: pages

Fixed inconsistent documentation
  webapps/models/iganet/BSplineModel.hpp
Due: none

Enabled unittests in GitHub actions
  .github/workflows/cmake-multi-platform.yml
Due: none

Updated GitHub actions
  .github/workflows/cmake-multi-platform.yml
Due: none

Added GitHub action to create pages
  .github/workflows/gh-pages.yml
Due: none

Updated GitHub action to create pages
  .github/workflows/gh-pages.yml
Due: none

Updated CUDA dispatch to LibTorch 2.5.1
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Removed unneeded const qualifier
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated documentation
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed minor bug in options
  include/options.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Extended G+Smo WebApps
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Updated documentation
  .github/workflows/gh-pages.yml
  CMakeLists.txt
  docs/CMakeLists.txt
  docs/Doxyfile.in
  docs/README.md
  docs/tutorial01.cxx
  docs/tutorial01.md
  docs/tutorial02.cxx
  docs/tutorial02.md
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed wrong include files from LibTorch 2.4 -> 2.5
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Renaming of macros
  include/utils/blocktensor.hpp
Due: none

Fix: 1D-example is now running
  examples/iganet_lin_elasticity_1D.cxx
Due: pages

Add: build-file to .gitignore; Fix: comment plotting in 1D-file
  .gitignore
  examples/iganet_lin_elasticity_1D.cxx
Due: pages

Fix: 2D-file is now more flexible for different nr of spline-CPs
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: g+smo simulation
  examples/iganet_lin_elasticity_3D.cxx
Due: pages

Rm: G+Smo Part (sim not possible for 1D); Note: problems with BC
  examples/iganet_lin_elasticity_1D.cxx
Due: pages

Fix: CP-setting for G+Smo-part according to IgANet setting
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: g+smo simulation for 1D-elasticity example; note: dimension error
  examples/iganet_lin_elasticity_1D.cxx
Due: pages

Fix: ihess-operator is now dependent of geometric dimension
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fix: formatting and comments of 2D-lin-elast-file
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Fix: CP-setting for G+Smo-part according to IgAnet setting now also for 3D
  examples/iganet_lin_elasticity_3D.cxx
Due: pages

Add: decision (un-)supervised learning; Add: gismo simulation as function; Fix: formatting and comments in 3D-lin-elast-file
  examples/iganet_lin_elasticity_3D.cxx
Due: pages

Add: two lin_elastic example files; Fix: ihess calculation in bspline.hpp-file
  examples/iganet_lin_elasticity_1D.cxx
  examples/iganet_lin_elasticity_3D.cxx
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fix: consistent comments
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: 2D-linear-elasticity-example; Add: gismo simulation as function
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: preparing the solution for splinepy plotting
  examples/iganet_lin_elasticity_3D.cxx
Due: pages

Fix: 3D-file is now more flexible for different nr of spline-CPs
  examples/iganet_lin_elasticity_3D.cxx
Due: pages

Fix: BC-setting with transform-method; Add: applying calculated displacement to geometry
  examples/iganet_lin_elasticity_3D.cxx
Due: pages

Added safeguard checks
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed small bug in options
  include/options.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang
