Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

pages:
  stage: build
  script:
  - apt-get update -y
  - apt-get install doxygen texlive-binaries texlive-font-utils -y
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_DOCS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make Doxygen
  ...

build-unittests-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_UNITTESTS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

build-pyiganet-gcc:
  stage: build
  script:
  - apt-get update -y
  - apt-get install python3 -y
  - python3 setup.py develop
  artifacts:
    paths:
    - build
    - pyiganet.egg-info

build-webapps-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_WEBAPPS=ON -DIGANET_BUILD_EXAMPLES=OFF -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

test-unittests-gcc:
  stage: test
  needs:
  - build-unittests-gcc
  script:
  - cd build
  - make test

build-unittests-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

build-webapps-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

test-unittests-clang:
  stage: test
  needs:
  - build-unittests-clang
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - cd build
  - make test

Formatting
  examples/demo.cxx
  examples/iganet_fitting.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bsplines.cxx
  include/bspline.hpp
  include/iganet.hpp
  unittests/unittest_iganet.cxx
  webapps/CMakeLists.txt
  webapps/models/CMakeLists.txt
  webapps/server.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

add circle geometry
  examples/iganet_fitting_quadCircle_simple.cxx
  examples/quadCircle_surface_gismo.cxx
  examples/quadCircle_surface_io.cxx
  filedata/surfaces/2d/quadCircleB_resultR0E0Fixed.xml
Due: pages

adapt examples to new plot()
  examples/iganet_fitting_quadCircle_simple.cxx
  examples/quadCircle_surface_io.cxx
Due: pages

add simple fitting example with geometry from file
  examples/iganet_fitting_geometry_simple.cxx
Due: pages

add quarter circle geometry
  filedata/surfaces/2d/quadCircleNUB.xml
Due: none

remove unnecessary files
  examples/quadCircle_surface_gismo.cxx
  examples/quadCircle_surface_io.cxx
  filedata/surfaces/2d/quadCircleB_resultR0E0Fixed.xml
Due: pages

Changed Matplot to dynamic library
  cmake/Matplot++.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in including Matplot in JIT framework
  cmake/genJIT.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in revised plot functionality when Matplot is disabled
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added GismoPoisson3d model
  webapps/models/gismo/GismoPoisson3d.cxx
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Refactored IgANet class to IgABase and IgASolver classes
  include/igabase.hpp
  include/iganet.hpp
  include/igasolver.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fitting example with geometry input from file (#1)
  examples/iganet_fitting_geometry_simple.cxx
  filedata/surfaces/2d/quadCircleNUB.xml
Due: pages

Formatting
  examples/iganet_fitting_geometry_simple.cxx
  filedata/surfaces/2d/quadCircleNUB.xml
Due: pages

Formatting
  include/igabase.hpp
  include/igasolver.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

function fitting on refined quadCircle geometry
  examples/iganet_fitting_quadCircle_simple.cxx
  examples/quadCircle_surface_gismo.cxx
  examples/quadCircle_surface_io.cxx
  filedata/surfaces/2d/quadCircleNUB_ref.xml
Due: pages

fitting on quadCircle with precomputed coefficients
  examples/iganet_fitting_quadCircle.cxx
Due: pages

poisson example for quadCircle geometry
  examples/iganet_poisson_quadCirc.cxx
Due: pages

Updated documentation
  webapps/models/gismo/GismoPoisson2d.cxx
  webapps/models/gismo/GismoPoisson3d.cxx
Due: none

Changed getter functions from std::string to nlohman::json
  webapps/model.hpp
  webapps/models/BSplineModel.hpp
  webapps/models/Poisson2d.cxx
  webapps/models/gismo/GismoLinearElasticity2d.cxx
  webapps/models/gismo/GismoLinearElasticity3d.cxx
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoModel.hpp
  webapps/models/gismo/GismoPdeModel.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Added second fitting-with-geometry example and implemented plotting of collocation points
  examples/iganet_fitting_geometry.cxx
Due: pages

Removed debug code
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Updated documentation
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
Due: pages

Renamed indices into knot_indices
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Refactoring of iganet class
  examples/demo.cxx
  examples/iganet.cxx
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  include/igabase.hpp
  include/iganet.hpp
  unittests/unittest_iganet.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Code cleanup
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated protocol
  webapps/protocol.md
Due: pages, build-webapps-gcc, build-webapps-clang

Added model features
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Added reparameterization feature to G+Smo PDE model
  webapps/models/gismo/GismoPdeModel.hpp
Due: none

Updated G+Smo Poisson and linear elasticity models
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Updated G+Smo Poisson model
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Updated G+Smo linear elasticity model
  webapps/models/gismo/GismoKLShellModel.hpp
Due: none

Reordered include of LibTorch
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Reformatting
  webapps/models/gismo/GismoKLShellModel.hpp
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Updated G+Smo CMake
  cmake/gismo.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated Docker file
  ops/Dockerfile.webapps-cpu
Due: none

Removed need for JIT compilation for G+Smo models
  webapps/models/gismo/GismoLinearElasticity2d.cxx
  webapps/models/gismo/GismoLinearElasticity3d.cxx
  webapps/models/gismo/GismoPoisson2d.cxx
  webapps/models/gismo/GismoPoisson3d.cxx
Due: none

Updated Docker file and fixed missing include
  ops/Dockerfile.webapps-cpu
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Updated G+Smo models
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Added elevate and increase tokens to server
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Fixed bug in elevate and increase
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
