Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

pages:
  stage: build
  script:
  - apt-get update -y
  - apt-get install doxygen texlive-binaries texlive-font-utils -y
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_DOCS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make Doxygen
  ...

build-unittests-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_UNITTESTS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

build-pyiganet-gcc:
  stage: build
  script:
  - apt-get update -y
  - apt-get install python3 -y
  - python3 setup.py develop
  artifacts:
    paths:
    - build
    - pyiganet.egg-info

build-webapps-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_WEBAPPS=ON -DIGANET_BUILD_EXAMPLES=OFF -DTorch_DIR=/opt/libtorch/share/cmake/Torch -DIGANET_WITH_MATPLOT=OFF
  - make
  artifacts:
    paths:
    - build

test-unittests-gcc:
  stage: test
  needs:
  - build-unittests-gcc
  script:
  - cd build
  - make test

build-unittests-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

build-webapps-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

test-unittests-clang:
  stage: test
  needs:
  - build-unittests-clang
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - cd build
  - make test

Updated GitHub actions
  .github/workflows/gitlab-sync.yml
Due: none

Updated GitHub actions
  .github/workflows/cmake-multi-platform.yml
Due: none

Merge branch 'master' into nurbs (2/2)
  .github/workflows/cmake-multi-platform.yml
  .github/workflows/gitlab-sync.yml
  docs/Doxygen.bib
  docs/README.md
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_autotune.cxx
  examples/iganet_fitting_geometry_dataloader_autotune.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  examples/iganet_stokes.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bsplines.cxx
  include/core.hpp
  include/iganet.hpp
  include/options.hpp
  include/sysinfo.hpp
  include/utils.hpp
  include/utils/container.hpp
  include/utils/index_sequence.hpp
  include/utils/linalg.hpp
  include/utils/serialize.hpp
  include/utils/tensorarray.hpp
  include/utils/vslice.hpp
  pyiganet/src/CMakeLists.txt
  pyiganet/src/pyoptions.cxx
  unittests/unittest_boundary.cxx
  unittests/unittest_functionspace.cxx
  unittests/unittest_iganet.cxx
  unittests/unittest_nonuniform_bspline.cxx
  unittests/unittest_nonuniform_bspline_eval.cxx
  unittests/unittest_uniform_bspline.cxx
  unittests/unittest_uniform_bspline_eval.cxx
  webapps/models/BSplineModel.hpp
  webapps/server.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

NURBS adapted for dimension independent implementation
  include/boundary.hpp
  include/bspline.hpp
  include/functionspace.hpp
  unittests/unittest_bsplinelib.hpp
  unittests/unittest_nonuniform_rational_bspline.cxx
  unittests/unittest_nonuniform_rational_bspline_eval.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Memory-optimized avoided and error for eval_from_precomputed
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Clean Up (1/2)
  README.md
Due: none

Clean up (2/2)
  .github/workflows/cmake-multi-platform.yml
  .github/workflows/gitlab-sync.yml
  docs/Doxygen.bib
  docs/README.md
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_autotune.cxx
  examples/iganet_fitting_geometry_dataloader_autotune.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  examples/iganet_stokes.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bsplines.cxx
  include/core.hpp
  include/iganet.hpp
  include/options.hpp
  include/sysinfo.hpp
  include/utils.hpp
  include/utils/container.hpp
  include/utils/index_sequence.hpp
  include/utils/linalg.hpp
  include/utils/serialize.hpp
  include/utils/tensorarray.hpp
  include/utils/vslice.hpp
  pyiganet/src/CMakeLists.txt
  pyiganet/src/pyoptions.cxx
  unittests/unittest_boundary.cxx
  unittests/unittest_functionspace.cxx
  unittests/unittest_iganet.cxx
  unittests/unittest_nonuniform_bspline.cxx
  unittests/unittest_nonuniform_bspline_eval.cxx
  unittests/unittest_uniform_bspline.cxx
  unittests/unittest_uniform_bspline_eval.cxx
  webapps/models/BSplineModel.hpp
  webapps/server.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Merge branch master into nurbs 3
  include/boundary.hpp
  include/bspline.hpp
  include/functionspace.hpp
  unittests/unittest_bsplinelib.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

NURBS finalized, not yet memory optimized and eval_from_precomputed enabled
  include/boundary.hpp
  include/bspline.hpp
  unittests/unittest_bsplinelib.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Reformatting
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Gismo models can output RHS
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Added operators for std::array
  include/utils/container.hpp
Due: none

Functionspace Hcurl finalized
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Error in boundary loss, S3 works Hcurl not
  examples/iganet_curl_3D.cxx
  examples/iganet_curl_3D_S3.cxx
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_autotune.cxx
  examples/iganet_fitting_geometry_dataloader_autotune.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  examples/iganet_stokes.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bspline_surface_gismo.cxx
  examples/uniform_bspline_surface_io.cxx
  examples/uniform_bsplines.cxx
Due: pages

git ignore build
  .gitignore
Due: none

Functionspace Hcurl finalized
  include/functionspace.hpp
  include/utils/container.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Dimension independent implementation of member functions (WIP)
  include/bspline.hpp
  include/functionspace.hpp
  include/iganet.h
  include/patch.hpp
  include/utils/container.hpp
  include/utils/linalg.hpp
  include/utils/tensorarray.hpp
  include/utils/vslice.hpp
  pyiganet/src/pybspline.cxx.in
  unittests/unittest_bsplinelib.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added extra G+Smo features
  cmake/gismo.cmake
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added missing #pragma once
  webapps/models/gismo/GismoKLShellModel.hpp
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoModel.hpp
Due: none

Updated protocol
  webapps/protocol.md
Due: pages, build-webapps-gcc, build-webapps-clang

Evaluate scaled Jacobian and uniformity metric in G+Smo models
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoSurfaceReparameterization.hpp
Due: none

Updated G+Smo Poisson model
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

General Functionspace incorporated
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Bspline plot convert to to_array
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Quick fixes of the Gismo models
  cmake/gismo.cmake
  include/core.hpp
  include/utils/serialize.hpp
  webapps/model.hpp
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
  webapps/models/gismo/GismoSurfaceReparameterization.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Git update
  ops/Dockerfile.webapps-cpu
Due: none

Fixed missing override of virtual function
  webapps/models/BSplineModel.hpp
Due: none

Quick fixes
  webapps/models/Poisson2d.cxx
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Fixed typo
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Cleaned up Poisson application
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Code reformatting
  include/bspline.hpp
  include/functionspace.hpp
  include/patch.hpp
  include/utils/container.hpp
  include/utils/index_sequence.hpp
  include/utils/linalg.hpp
  include/utils/serialize.hpp
  include/utils/tensorarray.hpp
  include/utils/vslice.hpp
  pyiganet/src/pybspline.cxx.in
  unittests/unittest_bsplinelib.hpp
  webapps/model.hpp
  webapps/models/BSplineModel.hpp
  webapps/models/Poisson2d.cxx
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
  webapps/models/gismo/GismoSurfaceReparameterization.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Changed fitting examples to symbolic function and added support for environment variables
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_autotune.cxx
  examples/iganet_fitting_geometry_dataloader.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
Due: pages

Minor renaming and reformatting; introduction of uPtr and Ptr
  include/bspline.hpp
  include/multipatch.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Pretty print of patches
  include/patch.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Extended multi-patch class
  include/multipatch.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added multi-patch class to default includes
  include/iganet.h
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed problem in dataloader example
  examples/iganet_fitting_geometry_dataloader.cxx
Due: pages

Minor fixed
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Changed to utils::prod
  include/utils/vslice.hpp
Due: none

Added utils::kron
  include/utils/linalg.hpp
Due: none

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
