Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*

Updated dependencies
  cmake/Matplot++.cmake
  cmake/boost_preprocessor.cmake
  cmake/genJIT.cmake
  cmake/gismo.cmake
  cmake/nlohmann_json.cmake
  cmake/popl.cmake
  cmake/pugixml.cmake
  cmake/pybind11.cmake
  cmake/uwebsockets.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated documentation
  docs/CMakeLists.txt
  docs/README.md
  docs/conf.py
  docs/tutorial02.cxx
Due: pages

Update copyright notice
  examples/CMakeLists.txt
  include/CMakeLists.txt
  mex/src/CMakeLists.txt
  perftests/CMakeLists.txt
  python/src/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
  webapps/models/CMakeLists.txt
  webapps/models/gismo/CMakeLists.txt
  webapps/models/iganet/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated core include file
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in dependency package
  cmake/Matplot++.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed bug in MatPlotLib plotting
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_dataloader.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
Due: pages

Improved plotting with MatPlotLib
  examples/iganet_stokes.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bspline_surface_io.cxx
Due: pages

Added first version of network evaluation [need to disable gradient calculation in an improved version]
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added network evaluation after training [need to add error calculation]
  examples/iganet_fitting_geometry_dataloader.cxx
Due: pages

Extended model interface to add/remove patch
  webapps/model.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Extended server to support 'remove patch' request
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Updated the changes in G+Smo stable and extended capabilities
  webapps/CMakeLists.txt
  webapps/models/gismo/GismoGeometryModel.hpp
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoissonModel.hpp
  webapps/models/gismo/GismoSurfaceReparameterization.hpp
  webapps/models/iganet/BSplineModel.hpp
  webapps/models/iganet/Poisson2d.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Add: function to load matlab solution from json for supervised learning; Fix: check for BC intersections at corner collocation points properly now
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Fix: G+Smo simulation now with flexible parameters; Fix: everything is controlled now from the user inputs; Fix: formatting
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Add: eval()-function in iganet.hpp-file
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Add: first evaluation implementation with wavy geometry
  examples/iganet_lin_elasticity_2D.cxx
Due: pages

Fixed bug in computation of hessian matrix
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Removed wrong use of keyword
  include/boundary.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated to LibTorch 2.7
  include/layer.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

added first neo hook implementation
  examples/iganet_neo_Hook_2D.cxx
Due: pages

Added SYCL kernels for Intel GPUs
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added missing safeguards for SYCL code
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added dispatch for dtype = long long
  include/options.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Replaced custom kernels by Torch instructions
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

integrated dirichlet conditions directly into neohook class
  examples/iganet_neo_Hook_2D.cxx
Due: pages

Fixed bug in latest kernel replacements
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Code no longer needs to be compiled with CUDA/HIP/... compiler
  examples/CMakeLists.txt
  include/CMakeLists.txt
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Removed debug output and CUDA warning suppressings
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Removed CUDA warning suppressings
  include/utils/serialize.hpp
Due: none

Removed CUDA preprocessor flags
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated CUDA memory summary
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed CUDA reporting
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

tried to implement resetting of dirichlet bc
  examples/iganet_neo_Hook_2D.cxx
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed CUDA reporting
  include/config.hpp.in
  include/core.hpp
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated version number
  CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated perftest results
  perftests/results/NVIDIA_A100_bspline_eval_double_new.txt
Due: none

Fixed Intel GPU implementation
  include/options.hpp
  perftests/CMakeLists.txt
  perftests/results/Intel_Max1110_bspline_eval_double.txt
  perftests/results/Intel_Max1110_bspline_eval_float.txt
  unittests/CMakeLists.txt
  unittests/unittest_options.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang
