Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*

Dimension-independent implementation of update_coeffs
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Dimension-independent implementation of from_gismo
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Minor changes
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Minor changes
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

add geometry files for quadCircle
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR05I02_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR05I03_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR05I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR05I05_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR075I02_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR075I03_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR075I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR075I05_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR125I02_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR125I03_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR125I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR125I05_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR15I02_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR15I03_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR15I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR15I05_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR1I02_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR1I03_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR1I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImpR1I05_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp/quadCircleImp_R1I04_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR04I015_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR04I055_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR06I025_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR06I035_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR06I045_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR08I025_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR08I035_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR08I045_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR11I025_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR11I035_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR11I045_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR14I025_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR14I035_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR14I045_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR16I015_resultR1E1Fixed.xml
  filedata/surfaces/2d_quadCircleImp_test/quadCircleImpR16I055_resultR1E1Fixed.xml
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

add geometry with impeller thickness
  examples/iganet_fitting_quadCircle.cxx
  examples/iganet_fitting_quadCircle_dataloader.cxx
  examples/iganet_poisson_quadCircle.cxx
  filedata/surfaces/2d_quadCircle_degree34/quadCircleImp_R1I04_resultR1E2Fixed.xml
Due: pages

First start of Nurbs
  include/iganet.h
  include/nurbs.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Base all spline classes on base type for compile-time type checking
  include/bspline.hpp
  include/nurbs.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Compile-time type check of spline classes; minor simplifications
  include/boundary.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added tuple_cat
  include/utils/type_traits.hpp
Due: none

Simplified printing function
  include/utils/tensorarray.hpp
Due: none

../include/functionspace.hpp
  include/igabase.hpp
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Major refactoring of FunctionSpace classes; classes are no longer derived from Spline and std::tuple<Splines...>
  examples/iganet_stokes.cxx
  include/functionspace.hpp
  unittests/unittest_iganet.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

learning BC works
  examples/iganet_curl_3D.cxx
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

More refactoring of FunctionSpace classes
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated examples to changes in FunctionSpace classes
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_dataloader.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
Due: pages

Added iterator for G+Smo boundary sides
  webapps/models/gismo/GismoModel.hpp
Due: none

Added safeguards
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPdeModel.hpp
Due: none

Updated G+Smo Poisson model
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Update examples to changes from master
  examples/iganet_fitting_quadCircle.cxx
  examples/iganet_load_eval.cxx
  examples/iganet_poisson_quadCircle.cxx
Due: pages

Added optional G+Smo submodules
  cmake/gismo.cmake
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated G+Smo models
  webapps/models/gismo/GismoLinearElasticity2d.cxx
  webapps/models/gismo/GismoLinearElasticity3d.cxx
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoisson2d.cxx
  webapps/models/gismo/GismoPoisson3d.cxx
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

update plotting of examples
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_quadCircle.cxx
  examples/iganet_load_eval.cxx
  examples/iganet_poisson_quadCircle.cxx
Due: pages

adapt plotting in examples to changes from master
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_quadCircle.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_load_eval.cxx
  examples/iganet_poisson.cxx
  examples/iganet_poisson_quadCircle.cxx
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Refactoring of webapps to enable separation into its own repository
  webapps/config/server-nossl.cfg
  webapps/config/server.cfg
  webapps/model.hpp
  webapps/modelmanager.hpp
  webapps/models/CMakeLists.txt
  webapps/models/gismo/CMakeLists.txt
  webapps/models/gismo/GismoGeometryModel.hpp
  webapps/models/gismo/GismoLinearElasticity2d.cxx
  webapps/models/gismo/GismoLinearElasticity3d.cxx
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoModel.hpp
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoisson2d.cxx
  webapps/models/gismo/GismoPoisson3d.cxx
  webapps/models/iganet/BSplineCurve.cxx
  webapps/models/iganet/BSplineModel.hpp
  webapps/models/iganet/BSplineSurface.cxx
  webapps/models/iganet/BSplineVolume.cxx
  webapps/models/iganet/CMakeLists.txt
  webapps/models/iganet/Poisson2d.cxx
  webapps/models/iganet/jit.hpp.in
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Small bug fix
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Small bug fix
  webapps/models/iganet/BSplineCurve.cxx
Due: none

Code reformatting
  include/core.hpp
  webapps/model.hpp
  webapps/modelmanager.hpp
  webapps/models/gismo/GismoGeometryModel.hpp
  webapps/models/gismo/GismoLinearElasticity2d.cxx
  webapps/models/gismo/GismoLinearElasticity3d.cxx
  webapps/models/gismo/GismoLinearElasticityModel.hpp
  webapps/models/gismo/GismoPdeModel.hpp
  webapps/models/gismo/GismoPoisson2d.cxx
  webapps/models/gismo/GismoPoisson3d.cxx
  webapps/models/gismo/GismoPoissonModel.hpp
  webapps/models/iganet/BSplineCurve.cxx
  webapps/models/iganet/BSplineModel.hpp
  webapps/models/iganet/BSplineSurface.cxx
  webapps/models/iganet/BSplineVolume.cxx
  webapps/models/iganet/Poisson2d.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Changed creation_time and access_time to creationTime and accessTime in server
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Restricted output in MPI-distributed training to rank=0
  examples/iganet_fitting_geometry_dataloader.cxx
Due: pages

Updated copyright information
  CMakeLists.txt
  cmake/Matplot++.cmake
  cmake/boost_preprocessor.cmake
  cmake/genJIT.cmake
  cmake/gismo.cmake
  cmake/nlohmann_json.cmake
  cmake/popl.cmake
  cmake/pybind11.cmake
  cmake/uwebsockets.cmake
  docs/conf.py
  examples/CMakeLists.txt
  include/CMakeLists.txt
  perftests/CMakeLists.txt
  pyiganet/src/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
  webapps/models/CMakeLists.txt
  webapps/models/gismo/CMakeLists.txt
  webapps/models/iganet/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed small bug in preprocessor statement
  examples/iganet_fitting_geometry_dataloader.cxx
Due: pages

Removed unused variable
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Temporarily disabled unit tests for function space boundaries
  unittests/unittest_functionspace.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Added missing output to CMakeLists
  CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed typo in README file
  README.md
Due: none

Added missing MPI initialization
  include/core.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added default argument for MPI process group
  include/iganet.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Suppress NVCC compiler warning
  include/utils/tensorarray.hpp
Due: none

Updated README file
  README.md
Due: none
