Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

pages:
  stage: build
  script:
  - apt-get update -y
  - apt-get install doxygen texlive-binaries texlive-font-utils -y
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_DOCS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch
  - make Doxygen
  - mv docs/doxygen/html ../public
  ...

unittests-gcc:
  stage: build
  script:
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_UNITTESTS=ON -DIGANET_BUILD_PERFTESTS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch
  - make
  - make test

pyiganet-gcc:
  stage: build
  script:
  - apt-get update -y
  - apt-get install python3-dev python3-setuptools -y
  - Torch_DIR=/opt/libtorch/share/cmake/Torch python3 setup.py develop

webapps-gcc:
  stage: build
  script:
  - apt-get update -y
  - apt-get install python3-pip python3-setuptools -y
  - pip3 install websocket-client
  - mkdir -p build
  - cd build
  - CC=gcc CXX=g++ cmake .. -DIGANET_BUILD_EXAMPLES=OFF -DIGANET_BUILD_WEBAPPS=ON -DTorch_DIR=/opt/libtorch/share/cmake/Torch
  - make
  ...

unittests-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

webapps-clang:
  stage: build
  script:
  - apt-get update -y
  - apt-get install clang libomp-dev -y
  - mkdir -p build
  - cd build
  ...

Added just-in -time compilation support
  cmake/genJIT.cmake
  include/CMakeLists.txt
  include/utils.h
  include/utils/dlloader.hpp
  include/utils/jit.hpp.in
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Replaced std::string by std::string_view where useful
  include/splines/multipatch.hpp
Due: none

Replaced std::string by std::string_view where useful and added to_uniform(), to_nonuniform() functionality
  include/splines/bspline.hpp
Due: none

Replaced dtype<T>() by dtype_v<T> and added type_name_v<T>
  include/core/dtype.hpp
  include/core/options.hpp
Due: none

Added createNonUniformBSpline from XML and JSON
  include/splines/bspline.hpp
Due: none

Added createUniformBSpline from XML and JSON
  include/splines/bspline.hpp
Due: none

Improved caching of JIT
  include/CMakeLists.txt
  include/splines/bspline.hpp
  include/utils/jit.hpp.in
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Added geoDim and value_type to patch
  include/splines/patch.hpp
Due: none

Improved serialization of B-splines
  include/splines/bspline.hpp
Due: none

Added additional serialization functionality for multi patches
  include/splines/multipatch.hpp
Due: none

Fixed typos and errors in documentation
  README.md
  docs/README.md
  docs/tutorial01.md
  docs/tutorial02.md
  include/core/core.hpp
  include/core/options.hpp
  include/net/iganet.hpp
  include/net/v1/iganet.hpp
  include/solver/igasolver.hpp
  include/splines/boundary.hpp
  include/splines/bspline.hpp
  include/splines/functionspace.hpp
  include/splines/nurbs.hpp
  include/utils/dlloader.hpp
  include/utils/jit.hpp.in
  include/utils/serialize.hpp
Due: pages

Removed Sphinx dependency
  CMakeLists.txt
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Updated Doxyfile.in
  docs/Doxyfile.in
  docs/iganets_logo.png
Due: pages

Make the CMake installation self-contained
  CMakeLists.txt
  cmake/IgANetConfig.cmake.in
  cmake/nlohmann_json.cmake
  cmake/pugixml.cmake
  include/CMakeLists.txt
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Make JIT compilation installation-aware
  cmake/genJIT.cmake
  include/CMakeLists.txt
  include/utils/jit.hpp.in
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Fixed error in documentation
  include/core/config.hpp.in
Due: none

Fixed bug in CUDA/HIP detection
  include/CMakeLists.txt
  include/core/config.hpp.in
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Make JIT configuration installation-aware at runtime
  cmake/genJIT.cmake
  include/CMakeLists.txt
  include/iganet/utils/jit.hpp.in
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Fixed bug in installation procedure when compiled with G+Smo support
  CMakeLists.txt
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Fixed wrong include flags for G+Smo + JIT
  CMakeLists.txt
  cmake/genJIT.cmake
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Avoid treating the source tree as a JIT installation
  include/iganet/utils/jit.hpp.in
Due: none

Fix G+Smo include and linking flags for JIT builds
  CMakeLists.txt
  cmake/genJIT.cmake
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Fixed bugs in header/library handling with JIT
  CMakeLists.txt
  cmake/Matplot++.cmake
  cmake/genJIT.cmake
  cmake/gismo.cmake
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Fixed bugs in HIP support [ci skip]
  CMakeLists.txt
  cmake/IgANetConfig.cmake.in
  cmake/IgANetTorchHIP.cmake
  include/CMakeLists.txt
  include/iganet/core/config.hpp.in
Due: pages, unittests-gcc, pyiganet-gcc, webapps-gcc, unittests-clang, webapps-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
