Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*

Temporal fix for compiler error
  examples/iganet_stokes.cxx
Due: pages

Fixed missing include
  include/utils/fqn.hpp
Due: none

Added some braces to stop clang compiler warning
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Formatting
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated Torch to v2.2.2 in Dockerfile
  ops/Dockerfile.webapps-cpu
  ops/Dockerfile.webapps-gitlab-ci
Due: none

Fixed small bug in function spaces
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

WebApps server can read multiple model paths
  webapps/config/server.cfg
  webapps/modelmanager.hpp
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Improved model manager
  webapps/modelmanager.hpp
Due: pages, build-webapps-gcc, build-webapps-clang

Changed Dockerfile from Clang to GCC compiler
  cmake/gismo.cmake
  ops/Dockerfile.webapps-cpu
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added missing CMake include
  cmake/pybind11.cmake
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Changed compiler pragmas from GCC to clang
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
  webapps/models/Poisson2d.cxx
  webapps/models/gismo/GismoLinearElasticity2d.cxx
  webapps/models/gismo/GismoLinearElasticity3d.cxx
  webapps/models/gismo/GismoPoisson2d.cxx
  webapps/models/gismo/GismoPoisson3d.cxx
Due: none

Reformatting
  webapps/modelmanager.hpp
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Updated Dockerfile
  ops/Dockerfile.webapps-cpu
Due: none

Fixed missing computeTopology()
  webapps/models/gismo/GismoPdeModel.hpp
Due: none

Fixed wring spatial dimension
  webapps/models/gismo/GismoPoissonModel.hpp
Due: none

Updated LibTorch from 2.2.2 to 2.3.0 in GitHub CI and upgraded Clang to version 17 in Linux
  .github/workflows/cmake-multi-platform.yml
Due: none

Fixed bug in GitHub CI
  .github/workflows/cmake-multi-platform.yml
Due: none

Fixed segfault bug in Dockerfile
  ops/Dockerfile.webapps-cpu
Due: none

Formatting
  .github/workflows/cmake-multi-platform.yml
Due: none

Implemented reparameterization into Gismo models
  webapps/models/BSplineModel.hpp
  webapps/models/gismo/GismoPdeModel.hpp
Due: none

Fixed nonworking transform in G+Smo models
  include/utils/serialize.hpp
  webapps/models/gismo/GismoModel.hpp
Due: none

Added password protection for sessions
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Combined multiply utility include files into utils/container.hpp
  include/bspline.hpp
  include/functionspace.hpp
  include/iganet.hpp
  include/utils.hpp
  include/utils/concat.hpp
  include/utils/container.hpp
  include/utils/serialize.hpp
  include/utils/tensorarray.hpp
  webapps/models/BSplineModel.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Unittests for NURBS
  unittests/unittest_nonuniform_rational_bspline.cxx
  unittests/unittest_nonuniform_rational_bspline_eval.cxx
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Unittest BsplineLib extended for NURBS
  unittests/unittest_bsplinelib.hpp
Due: pages, build-unittests-gcc, test-unittests-gcc, build-unittests-clang, test-unittests-clang

Nurbs up to 1st deriv, not memory optimized, not precomputed
  include/bspline.hpp
  unittests/unittest_bsplinelib.hpp
  unittests/unittest_nonuniform_rational_bspline.cxx
  unittests/unittest_nonuniform_rational_bspline_eval.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Renaming of append/prepend functions to operator+
  include/bspline.hpp
  include/utils/container.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

geoDim == 4 and stricter tolerances in NURBS unittests
  include/bspline.hpp
  unittests/unittest_bsplinelib.hpp
  unittests/unittest_nonuniform_rational_bspline_eval.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Refactoring: Explicit function spaces S1, S2, ... have been unified to S
  docs/Doxygen.bib
  docs/README.md
  examples/iganet_fitting.cxx
  examples/iganet_fitting_geometry.cxx
  examples/iganet_fitting_geometry_autotune.cxx
  examples/iganet_fitting_geometry_dataloader_autotune.cxx
  examples/iganet_fitting_geometry_simple.cxx
  examples/iganet_fitting_simple.cxx
  examples/iganet_poisson.cxx
  examples/iganet_stokes.cxx
  examples/nonuniform_bsplines.cxx
  examples/uniform_bsplines.cxx
  include/bspline.hpp
  include/functionspace.hpp
  include/utils/container.hpp
  include/utils/tensorarray.hpp
  unittests/unittest_boundary.cxx
  unittests/unittest_functionspace.cxx
  unittests/unittest_iganet.cxx
  unittests/unittest_nonuniform_bspline.cxx
  unittests/unittest_nonuniform_bspline_eval.cxx
  unittests/unittest_uniform_bspline.cxx
  unittests/unittest_uniform_bspline_eval.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Load from .dat-file added
  include/bspline.hpp
  unittests/unittest_bsplinelib.hpp
  unittests/unittest_nonuniform_rational_bspline_eval.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed compiler error in pyiganet package
  pyiganet/src/CMakeLists.txt
  pyiganet/src/pyoptions.cxx
Due: none

Changed standalone functions to inline to not appear multiple times in pyiganet library
  include/options.hpp
  include/sysinfo.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Moved operator<< to tensorarray
  include/core.hpp
  include/utils/tensorarray.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added utils::make_reverse_index_sequence
  include/utils.hpp
  include/utils/index_sequence.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added variadic Kronecker product
  include/utils/linalg.hpp
Due: none

Replaced std::array<torch::Tensor, N> by utils::TensorArray<N>
  include/boundary.hpp
  include/functionspace.hpp
  include/utils/serialize.hpp
  include/utils/vslice.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Dimension independent implementation of member functions (WIP)
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed captures in lambda expression to work on GCC
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Fixed compiler error in GCC
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Disabled CI/CD with Windows
  .github/workflows/cmake-multi-platform.yml
Due: none
