Repository IgANets/iganet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Path conditions:
  pages: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, docs/*, include/*, examples/*, perftests/*, pyiganet/*, unittests/*, webapps/*
  build-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-pyiganet-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, pyiganet/*
  build-webapps-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-gcc: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*
  build-webapps-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, webapps/*
  test-unittests-clang: any of: .gitlab-ci.yml, CMakeLists.txt, cmake/*, include/*, unittests/*

Update file config.yml
  .circleci/config.yml
Due: none

Updated .gitlab-ci.yml
  .gitlab-ci.yml
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Unit tests for WebApps
  webapps/models/BSpline.hpp
  webapps/server.cxx
  webapps/unittests/BSplineSurface.pt
  webapps/unittests/test_server.py
  webapps/unittests/wsiganet.py
Due: pages, build-webapps-gcc, build-webapps-clang

Update config.yml
  .circleci/config.yml
Due: none

Removed debug output from server
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang

Removed debug output from WebApps
  webapps/models/BSpline.hpp
Due: none

Update file CMakeLists.txt
  CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated UnitTests for WebApps
  webapps/unittests/Session.0.pt
  webapps/unittests/Session.1.pt
  webapps/unittests/Session.2.pt
  webapps/unittests/Session.xml
  webapps/unittests/test_server.py
  webapps/unittests/wsiganet.py
Due: none

Updated webapps unittests + server
  webapps/filedata/pytorch/BSplineSurface.pt
  webapps/filedata/pytorch/Session.0.pt
  webapps/filedata/pytorch/Session.1.pt
  webapps/filedata/pytorch/Session.2.pt
  webapps/filedata/pytorch/Session.ptc
  webapps/filedata/xml/BSplineSurface.xml
  webapps/filedata/xml/BSplineSurfaceComponent.xml
  webapps/filedata/xml/Session.xml
  webapps/model.hpp
  webapps/models/BSpline.hpp
  webapps/models/BSplineCurve.cxx
  webapps/models/BSplineSurface.cxx
  webapps/models/BSplineVolume.cxx
  webapps/server.cxx
  webapps/unittests/Session.ptc
  webapps/unittests/test_server.py
  webapps/unittests/wsiganet.py
Due: pages, build-webapps-gcc, build-webapps-clang

Trying new localhost IP for CI/CD
  .gitlab-ci.yml
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Added install targets in CMake configuration
  cmake/pugixml.cmake
  cmake/pybind11.cmake
  include/CMakeLists.txt
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
  webapps/models/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

[skip-ci] Docker image
  ops/Dockerfile.webapps-gitlab-ci
Due: none

Updated XML files for webapp unit tests
  webapps/filedata/xml/BSplineSurface.xml
  webapps/filedata/xml/Session.xml
Due: none

[skip-ci] Updated protocol
  webapps/protocol.md
Due: pages, build-webapps-gcc, build-webapps-clang

[skip-ci] Updated XML import/export
  webapps/models/BSpline.hpp
Due: none

[skip-ci] formatting
  include/functionspace.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Windows fixes
  CMakeLists.txt
  examples/CMakeLists.txt
  perftests/CMakeLists.txt
  unittests/CMakeLists.txt
  webapps/CMakeLists.txt
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated protocol and renamed header file because of ambiguous file names
  webapps/models/BSplineModel.hpp
  webapps/protocol.md
Due: pages, build-webapps-gcc, build-webapps-clang

Extended boundary and unit tests
  include/boundary.hpp
  unittests/unittest_boundary.cxx
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Formatting
  include/bspline.hpp
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Formatting
  webapps/config.hpp.in
Due: pages, build-webapps-gcc, build-webapps-clang

Updated CMakeLists.txt
  webapps/CMakeLists.txt
Due: pages, build-webapps-gcc, build-webapps-clang

JIT compiler infrastructure
  cmake/genJIT.cmake
  webapps/modelmanager.hpp
  webapps/models/CMakeLists.txt
  webapps/models/jit.hpp.in
Due: pages, build-unittests-gcc, build-pyiganet-gcc, build-webapps-gcc, test-unittests-gcc, build-unittests-clang, build-webapps-clang, test-unittests-clang

Updated documentation
  webapps/server.cxx
Due: pages, build-webapps-gcc, build-webapps-clang
